<div class="inner-wrapper container-fluid">
	<h2 class="widget-title">
		<div class="title">Key Information</div>
	</h2>

	<div class="row info-perfor-details">

		<div class="col-md-4 col-sm-4 col-xs-6">
			<span class="snap-lbl-1">Base Currency</span>
			<span class="snap-val-1  margin-medium-bottom">US Dollar</span>


		</div>
		<div class="col-md-4 col-sm-4 col-xs-6">
			<span class="snap-lbl-1">Base Currency</span>
			<span class="snap-val-1  margin-medium-bottom">US Dollar</span>



		</div>
		<div class="col-md-4 col-sm-4 col-xs-6">
			<span class="snap-lbl-1 ">Base Currency</span>
			<span class="snap-val-1  margin-medium-bottom">US Dollar</span>



		</div>
		<div class="col-md-4 col-sm-4 col-xs-6">
			<span class="snap-lbl-1">Base Currency</span>
			<span class="snap-val-1  margin-medium-bottom">US Dollar</span>



		</div>
		<div class="col-md-4 col-sm-4 col-xs-6">
			<span class="snap-lbl-1">Base Currency</span>
			<span class="snap-val-1  margin-medium-bottom">US Dollar</span>



		</div>
		<div class="col-md-4 col-sm-4 col-xs-6">
			<span class="snap-lbl-1">Base Currency</span>
			<span class="snap-val-1  margin-medium-bottom">US Dollar</span>



		</div>

	</div>



</div>
