<div class="strategies_inner">
	<span class="strategies_title">Mubasher Regional Strategies</span>
	<ul>
		<li>
			<div class="row line_content">
				<div class="col-md-3 col-3"><img src="img/img_one.png"></div>

				<div class="col-md-9 col-9">
					<span class="strategies_blue pl-0 pt-0">Growth Strategy</span>
					<p>For Aggressive investors who wish to invest in a range of high quality Sharia Compliant mutual funds</p>
				</div>

			</div>
		</li>
		<li>
			<div class="row line_content">
				<div class="col-md-3 col-3"><img src="img/img_two.png"></div>

				<div class="col-md-9 col-9">
					<span class="strategies_green pl-0 pt-0">Growth Strategy</span>
					<p>For Aggressive investors who wish to invest in a range of high quality Sharia Compliant mutual funds</p>
				</div>

			</div>
		</li>
		<li>
			<div class="row line_content">
				<div class="col-md-3 col-3"><img src="img/img_three.png"></div>

				<div class="col-md-9 col-9 ">
					<span class="strategies_yellow pl-0 pt-0">Growth Strategy</span>
					<p>For Aggressive investors who wish to invest in a range of high quality Sharia Compliant mutual funds</p>
				</div>

			</div>

		</li>


	</ul>
	<table width="100%" border="1" class="table table-bordered strategies_table">
		<tr>
			<th scope="col">Strategy</th>
			<th scope="col">Last Month %</th>
			<th scope="col">Last 3M %</th>
			<th scope="col">&nbsp;</th>
		</tr>
		<tr>
			<td class="strategies_blue">Growth</td>
			<td class="green_up">+10.2%</td>
			<td class="red_down">-0.6%</td>
			<td>
				<div class="more_button">More ></div>
			</td>
		</tr>
		<tr>
			<td class="strategies_green">Balanced</td>
			<td class="red_down">-0.6%</td>
			<td class="green_up">+0.6%</td>
			<td>
				<div class="more_button">More ></div>
			</td>
		</tr>
		<tr>
			<td class="strategies_yellow">Prudent</td>
			<td class="green_up">+0.6%</td>
			<td class="green_up">+1.2%</td>
			<td>
				<div class="more_button">More ></div>
			</td>
		</tr>
	</table>
</div>