<div class="strategies_inner">
	
<ul>
  <li *ngFor="let contentItem of contentData">
    <app-content-display-box
      [contentData]="contentItem"
      [imageUrl]= "contentItem.imageUrl"
      [title]= "contentItem.title"
      [discription]= "contentItem.discription"
      [fotterDis]= "contentItem.fotterDis"
    ></app-content-display-box>
  </li>
</ul>

	<table width="100%" border="1" class="table table-bordered strategies_table">
		<tr>
			<th scope="col">Strategy</th>
			<th scope="col">Last Month %</th>
			<th scope="col">Last 3M %</th>
			<th scope="col">&nbsp;</th>
		</tr>
		<tr>
			<td class="strategies_blue">Growth</td>
			<td class="green_up">+10.2%</td>
			<td class="red_down">-0.6%</td>
			<td>
				<div class="more_button">More ></div>
			</td>
		</tr>
		<tr>
			<td class="strategies_green">Balanced</td>
			<td class="red_down">-0.6%</td>
			<td class="green_up">+0.6%</td>
			<td>
				<div class="more_button">More ></div>
			</td>
		</tr>
		<tr>
			<td class="strategies_yellow">Prudent</td>
			<td class="green_up">+0.6%</td>
			<td class="green_up">+1.2%</td>
			<td>
				<div class="more_button">More ></div>
			</td>
		</tr>
	</table>
</div>