<div style="width:60%">
  <div>
    <div>
      <div style="float:left">SELL</div>
      <div style="float:right">BUY</div>
      <br>
      <div style="float:left">L:{{stockObj.lowPrice}}</div>
      <div style="float:right">H:{{stockObj.highPrice}}</div>

      <!--<div>-->
        <!--<div>{{{ view.buySellDifference }}}</div>-->
      <!--</div>-->
      <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td><span style="float:left" > {{stockObj.bestBidPrice }}</span></td>
          <td><span style="float:right" >{{stockObj.bestAskPrice }}</span></td>
        </tr>
      </table>
    </div>
  </div>
</div>
