
<div class="row">
    <div *ngIf="imageUrl" class="col-md-3 col-xs-3">
       <!--<img src={{imageUrl}}>-->
			<div class="img"></div>
    </div>
    <div class="col-md-9 col-xs-9" *ngIf="title">
        <span class="title pl-0 pt-0 margin-small-bottom full-width left">{{title}}</span>
        <p *ngIf="discription">{{discription}}</p>
        <p *ngIf="fotterDis">{{contentData.fotterDis}}<p>
	</div>
    <div *ngFor="let action of actions">

        <button *ngIf="action==0" (click)="onActionBubble($event, {data: contentData, action: action})">BUY</button>
        <button *ngIf="action==1" (click)="onActionBubble($event, {data: contentData, action: action})">SELL</button>
        <button *ngIf="action==2" (click)="onActionBubble($event, {data: contentData, action: action})">CHART</button>
    </div>
</div>
