
<div>
    <div *ngIf="imageUrl" class="left">
       <!--<img src={{imageUrl}}>-->
			<!--<p class="img"></p>-->
			<img src={{imageUrl}}>
    </div>
    <div class="left detail-col margin-medium-left  margin-medium-right" *ngIf="title">
			<div class="content">
				<span class="title pl-0 pt-0 margin-small-bottom full-width left">{{title}}</span>
				<p *ngIf="discription">{{discription}}</p>
				<p *ngIf="fotterDis">{{contentData.fotterDis}}<p>

			</div>
		</div>
    <div *ngFor="let action of actions">

        <button *ngIf="action==0" (click)="onActionBubble($event, {data: contentData, action: action})">BUY</button>
        <button *ngIf="action==1" (click)="onActionBubble($event, {data: contentData, action: action})">SELL</button>
        <button *ngIf="action==2" (click)="onActionBubble($event, {data: contentData, action: action})">CHART</button>
    </div>
</div>
