<div class="container-fluid margin-medium-top">
	<div class="row">
		<div class="col-xs-6">
			<div class="left margin-medium-bottom"> <span class="snap-current-price">{{stockObj.lastTradePrice}}</span> <span class="snap-current-price-currency">{{stockObj.currency}}</span>				</div>
		</div>
		<div class="col-xs-6 text-align-right">
			<div class="right margin-medium-bottom"> <span class="snap-change green-text">{{stockObj.change}}</span> <span class="snap-percentange green-text">{{stockObj.perChange}}%</span>				</div>
		</div>
		<span class="clearfix"></span>
		<div class="col-xs-12">
			<div class="left">
				<div class="single-line-text snap-date">{{stockObj.longDesc}} - {{stockObj.lastTradeDate}}</div>
			</div>
		</div>
	</div>
	<div class="h-sep-line margin-medium-top margin-medium-bottom"></div>
	<div class="row">
		<div class="col-xs-12">
			<div class="row">
				<div class="col-xs-6 col-md-3 col-lg-2 text-align-center">
					<div class="snap-val-1">{{stockObj.vwap}}</div>
					<div class="snap-lbl-1 margin-medium-bottom">{{localizationService.language.VWAP}}</div>
				</div>
				<div class="col-xs-6 col-md-3 col-lg-2 text-align-center">
					<div class="snap-val-1">{{stockObj.previousClosePrice}}</div>
					<div class="snap-lbl-1 margin-medium-bottom">{{localizationService.language.PREV_CLOSE}}</div>
				</div>
				<div class="col-xs-6 col-md-3 col-lg-2 text-align-center">
					<div class="snap-val-1">{{stockObj.openPrice}}</div>
					<div class="snap-lbl-1 margin-medium-bottom">{{localizationService.language.OPEN}}</div>
				</div>
				<div class="col-xs-6 col-md-3 col-lg-2 text-align-center">
					<div class="snap-val-1">{{stockObj.closePrice}}</div>
					<div class="snap-lbl-1 margin-medium-bottom">{{localizationService.language.CLOSE}}</div>
				</div>
				<div class="col-xs-6 col-md-3 col-lg-2 text-align-center">
					<div class="snap-val-1">{{stockObj.highPrice}}</div>
					<div class="snap-lbl-1 margin-medium-bottom">{{localizationService.language.HIGH}}</div>
				</div>
				<div class="col-xs-6 col-md-3 col-lg-2 text-align-center">
					<div class="snap-val-1">{{stockObj.lowPrice}}</div>
					<div class="snap-lbl-1 margin-medium-bottom">{{localizationService.language.LOW}}</div>
				</div>
				<div class="col-xs-6 col-md-3 col-lg-2 text-align-center">
					<div class="snap-val-1">{{stockObj.volume}}</div>
					<div class="snap-lbl-1 margin-medium-bottom">{{localizationService.language.VOLUME}}</div>
				</div>
				<div class="col-xs-6 col-md-3 col-lg-2 text-align-center">
					<div class="snap-val-1">{{stockObj.turnover}}</div>
					<div class="snap-lbl-1 margin-medium-bottom">{{localizationService.language.TURNOVER}}</div>
				</div>
				<div class="col-xs-6 col-md-3 col-lg-2 text-align-center">
					<div class="snap-val-1">{{stockObj.min}}</div>
					<div class="snap-lbl-1 margin-medium-bottom">{{localizationService.language.MIN}}</div>
				</div>
				<div class="col-xs-6 col-md-3 col-lg-2 text-align-center">
					<div class="snap-val-1">{{stockObj.max}}</div>
					<div class="snap-lbl-1 margin-medium-bottom">{{localizationService.language.MAX}}</div>
				</div>
				<div class="col-xs-6 col-md-3 col-lg-2 text-align-center">
					<div class="snap-val-1">{{stockObj.bidOffer}}</div>
					<div class="snap-lbl-1 margin-medium-bottom">{{localizationService.language.BID_OFFER}}</div>
				</div>
				<div class="col-xs-6 col-md-3 col-lg-2 text-align-center">
					<div class="snap-val-1">{{stockObj.trades}}</div>
					<div class="snap-lbl-1 margin-medium-bottom">{{localizationService.language.TRADES}}</div>
				</div>
				<div class="col-xs-6 col-md-3 col-lg-2 text-align-center">
					<div class="snap-val-1">{{stockObj.bestBidPrice}}</div>
					<div class="snap-lbl-1 margin-medium-bottom">{{localizationService.language.BEST_BID}}</div>
				</div>
				<div class="col-xs-6 col-md-3 col-lg-2 text-align-center">
					<div class="snap-val-1">{{stockObj.bestAskPrice}}</div>
					<div class="snap-lbl-1 margin-medium-bottom">{{localizationService.language.BEST_OFFER}}</div>
				</div>
				<div class="col-xs-6 col-md-3 col-lg-2 text-align-center">
					<div class="snap-val-1">{{stockObj.bestBidQty}}</div>
					<div class="snap-lbl-1 margin-medium-bottom">{{localizationService.language.BID_QTY}}</div>
				</div>
				<div class="col-xs-6 col-md-3 col-lg-2 text-align-center">
					<div class="snap-val-1">{{stockObj.bestAskQty}}</div>
					<div class="snap-lbl-1 margin-medium-bottom">{{localizationService.language.OFFER_QTY}}</div>
				</div>
				<div class="col-xs-6 col-md-3 col-lg-2 text-align-center">
					<div class="snap-val-1">{{stockObj.totalBidQty}}</div>
					<div class="snap-lbl-1 margin-medium-bottom">{{localizationService.language.TOTAL_BID_QTY}}</div>
				</div>
				<div class="col-xs-6 col-md-3 col-lg-2 text-align-center">
					<div class="snap-val-1">{{stockObj.totalAskQty}}</div>
					<div class="snap-lbl-1 margin-medium-bottom">{{localizationService.language.TOTAL_OFFER_QTY}}</div>
				</div>
				<div class="col-xs-6 col-md-3 col-lg-2 text-align-center">
					<div class="snap-val-1">{{stockObj.low52}}</div>
					<div class="snap-lbl-1 margin-medium-bottom">{{localizationService.language.FIFTY_TWO_WK_LOW}}</div>
				</div>
				<div class="col-xs-6 col-md-3 col-lg-2 text-align-center">
					<div class="snap-val-1">{{stockObj.high52}}</div>
					<div class="snap-lbl-1 margin-medium-bottom">{{localizationService.language.FIFTY_TWO_WK_HIGH}}</div>
				</div>
			</div>
		</div>
	</div>
	<div class="h-sep-line margin-medium-top margin-medium-bottom"></div>
	<div class="row">
		<div class="col-xs-12 col-sm-4">
			<div class="snap-val-2 text-center margin-small-bottom">65.34%</div>
			<div class="up-down-slider-row-1">
				<div class="up-down-slider-row-2"></div>
			</div>
			<div class="snap-lbl-1 margin-medium-bottom text-center">52 Week Range</div>
		</div>
		<div class="col-xs-12 col-sm-4">
			<div class="snap-val-2 text-center margin-small-bottom">65.34%</div>
			<div class="up-down-slider-row-1">
				<div class="up-down-slider-row-2"></div>
			</div>
			<div class="snap-lbl-1 margin-medium-bottom text-center">52 Week Range</div>
		</div>
		<div class="col-xs-12 col-sm-4">
			<div class="snap-val-2 text-center margin-small-bottom">34.56%</div>
			<div class="up-down-slider-row-1">
				<div class="up-down-slider-row-2"></div>
			</div>
			<div class="snap-lbl-1 margin-medium-bottom text-center">Cash Map</div>
		</div>
	</div>
	<div class="horizontal-sep-line margin-medium-bottom"></div>
</div>
<!-- /.container -->