<div class="container-fluid margin-medium-top">
  <div class="row">
    <div class="col-xs-6">
      <div class="left margin-medium-bottom"> <span class="snap-current-price">{{stockObj.lastTradePrice}}</span> <span class="snap-current-price-currency">{{stockObj.currency}}</span> </div>
    </div>
    <div class="col-xs-6 text-align-right">
      <div class="right margin-medium-bottom"> <span class="snap-change green-text">{{stockObj.change}}</span> <span class="snap-percentange green-text">{{stockObj.perChange}}%</span> </div>
    </div>
    <span class="clearfix"></span>
    <div class="col-xs-12">
      <div class="left">
        <div class="single-line-text snap-date">{{stockObj.lastTradeDate}}</div>
      </div>
    </div>
  </div>
  <div class="h-sep-line margin-medium-top margin-medium-bottom"></div>
  <div class="row">
    <div class="col-xs-12">
      <div class="row">
        <div class="col-xs-6 col-md-3 col-lg-2 text-align-center">
          <div class="snap-val-1">{{stockObj.openPrice}}</div>
          <div class="snap-lbl-1 margin-medium-bottom">Open</div>
        </div>
        <div class="col-xs-6 col-md-3 col-lg-2 text-align-center">
          <div class="snap-val-1">{{stockObj.highPrice}}</div>
          <div class="snap-lbl-1 margin-medium-bottom">High</div>
        </div>
        <div class="col-xs-6 col-md-3 col-lg-2 text-align-center">
          <div class="snap-val-1">{{stockObj.vwap}}</div>
          <div class="snap-lbl-1 margin-medium-bottom">VWap</div>
        </div>
        <div class="col-xs-6 col-md-3 col-lg-2 text-align-center">
          <div class="snap-val-1">{{stockObj.lowPrice}}</div>
          <div class="snap-lbl-1 margin-medium-bottom">Low</div>
        </div>
        <div class="col-xs-6 col-md-3 col-lg-2 text-align-center">
          <div class="snap-val-1">{{stockObj.previousClosePrice}}</div>
          <div class="snap-lbl-1 margin-medium-bottom">Previous close</div>
        </div>
        <div class="col-xs-6 col-md-3 col-lg-2 text-align-center">
          <div class="snap-val-1">{{stockObj.totalTrades}}</div>
          <div class="snap-lbl-1 margin-medium-bottom">Trades</div>
        </div>
        <div class="col-xs-6 col-md-3 col-lg-2 text-align-center">
          <div class="snap-val-1">{{stockObj.volume}}</div>
          <div class="snap-lbl-1 margin-medium-bottom">Volume</div>
        </div>
        <div class="col-xs-6 col-md-3 col-lg-2 text-align-center">
          <div class="snap-val-1">{{stockObj.turnover}}</div>
          <div class="snap-lbl-1 margin-medium-bottom">Turnover</div>
        </div>
        <div class="col-xs-6 col-md-3 col-lg-2 text-align-center">
          <div class="snap-val-1">323,989</div>
          <div class="snap-lbl-1 margin-medium-bottom">30D Avg. Volume</div>
        </div>
        <div class="col-xs-6 col-md-3 col-lg-2 text-align-center">
          <div class="snap-val-1">42,815,098</div>
          <div class="snap-lbl-1 margin-medium-bottom">30D Avg. Turnover(M)</div>
        </div>
        <div class="col-xs-6 col-md-3 col-lg-2 text-align-center">
          <div class="snap-val-1">{{stockObj.high52}} - {{stockObj.low52}}</div>
          <div class="snap-lbl-1 margin-medium-bottom">52 W High-Low</div>
        </div>
        <div class="col-xs-6 col-md-3 col-lg-2 text-align-center">
          <div class="snap-val-1">xxxxxxxx</div>
          <div class="snap-lbl-1 margin-medium-bottom">Market Cap(M)</div>
        </div>
      </div>
    </div>
  </div>
  <div class="h-sep-line margin-medium-top margin-medium-bottom"></div>
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="snap-val-2 text-center margin-small-bottom">65.34%</div>
      <div class="up-down-slider-row-1">
        <div class="up-down-slider-row-2"></div>
      </div>
      <div class="snap-lbl-1 margin-medium-bottom text-center">52 Week Range</div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="snap-val-2 text-center margin-small-bottom">65.34%</div>
      <div class="up-down-slider-row-1">
        <div class="up-down-slider-row-2"></div>
      </div>
      <div class="snap-lbl-1 margin-medium-bottom text-center">52 Week Range</div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="snap-val-2 text-center margin-small-bottom">34.56%</div>
      <div class="up-down-slider-row-1">
        <div class="up-down-slider-row-2"></div>
      </div>
      <div class="snap-lbl-1 margin-medium-bottom text-center">Cash Map</div>
    </div>
  </div>
  <div class="horizontal-sep-line margin-medium-bottom"></div>
  
  <div class="row">
    <div class="col-xs-6 col-sm-3 margin-medium-bottom">
      <div class="padding-medium snap-period-wrapper-green">
      	<span class="text-align-left left full-width margin-small-bottom">1 Week %</span>
        <span class="text-align-right right full-width snap-val-1">+5.13</span>
        <span class="clearfix"></span>
      </div>
    </div>
    
    <div class="col-xs-6 col-sm-3 margin-medium-bottom">
      <div class="padding-medium snap-period-wrapper-red">
      	<span class="text-align-left left full-width margin-small-bottom">1 Month %</span>
        <span class="text-align-right right full-width snap-val-1">-2.76</span>
        <span class="clearfix"></span>
      </div>
    </div>
    
    <div class="col-xs-6 col-sm-3 margin-medium-bottom">
      <div class="padding-medium snap-period-wrapper-green">
      	<span class="text-align-left left full-width margin-small-bottom">3 Month %</span>
        <span class="text-align-right right full-width snap-val-1">+11.10</span>
        <span class="clearfix"></span>
      </div>
    </div>
    
    <div class="col-xs-6 col-sm-3 margin-medium-bottom">
      <div class="padding-medium snap-period-wrapper-green">
      	<span class="text-align-left left full-width margin-small-bottom">1 Year %</span>
        <span class="text-align-right right full-width snap-val-1">+17.99</span>
        <span class="clearfix"></span>
      </div>
    </div>
    
    
    
  </div>
  
</div>
<!-- /.container --> 