<div class="row main-container">
    <div class="col-xs-12 col-sm-6">
        <div class="widget-wrapper">
            <router-outlet name="outlet1"></router-outlet>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6">
        <div class="widget-wrapper">
            <router-outlet name="outlet2"></router-outlet>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6">
        <div class="widget-wrapper">
            <router-outlet name="outlet3"></router-outlet>
        </div>
    </div>
    <div class="col-xs-12 col-sm-6">
        <div class="widget-wrapper">
            <router-outlet name="outlet4"></router-outlet>
        </div>
    </div>
</div>