<div class="col-md-6">
	<div class="widget-wrapper">
		<div class="inner-wrapper container-fluid">
			<h2 class="widget-title">
				<div class="title">Assets Allocation</div>
			</h2>
			<div class="col-md-12">
				<svg class="asset_allocation_chart" id="assetAllocationC3Chart"></svg>
			</div>
		</div>
	</div>
</div>
<div class="col-md-6">
	<div class="widget-wrapper">
		<div class="inner-wrapper container-fluid">
			<h2 class="widget-title">
				<div class="title">Performance</div>
			</h2>
			<table width="100%" class="data-table strategies-table margin-small-bottom table">
				<tr>
					<th scope="col">&nbsp;</th>
					<th scope="col">&nbsp;</th>
				</tr>
				<tr>
					<td>Return</td>
					<td>8.52</td>
				</tr>
				<tr>
					<td>Std Dev</td>
					<td>9.34</td>
				</tr>
				<tr>
					<td>Excess Return</td>
					<td>3.99</td>
				</tr>
				<tr>
					<td>Information Ratio(arith)</td>
					<td>1.67</td>
				</tr>
				<tr>
					<td>Tracking Eror</td>
					<td>2.34</td>
				</tr>
				<tr>
					<td>Sharpe Ratio</td>
					<td>0.33</td>
				</tr>
			</table>
		</div>
	</div>
</div>