@charset "utf-8";
/* CSS Document */

@font-face {
  font-family: "charticon";
  src:url("../assets/fonts/charticon.eot");
  src:url("../assets/fonts/charticon.eot?#iefix") format("embedded-opentype"),
    url("../assets/fonts/charticon.woff") format("woff"),
    url("../assets/fonts/charticon.ttf") format("truetype"),
    url("../assets/fonts/charticon.svg#charticon") format("svg");
  font-weight: normal;
  font-style: normal;

}

