@import 'colour-theme-theme2';

.theme2 body{
    font-family: arial;
    background-color: $theme2-color-background;
    color: $theme2-text-color-main;
}

.theme2 .navbar-inverse {
    background-color: $theme2-title-bar-bg-color;
}

// provide some minimal visual accomodation for IE8 and below

.theme2 .TFtable tr {
    background: $theme2-color-widget;
}

//  Define the background color for all the ODD background rows

.theme2 .TFtable tr:nth-child(odd) {
    background: $theme2-color-table-odd;
}

//  Define the background color for all the EVEN background rows

.theme2 .TFtable tr:nth-child(even) {
    background: $theme2-color-table-even;
}

.theme2 .panel-table-row-odd {
    background: $theme2-color-table-odd;
}

.theme2 .panel-table-row-even {
    background: $theme2-color-table-even;
}

::-webkit-scrollbar-thumb {
    background-color:$theme2-scroll-webkit-scrollbar-thumb;
}

.theme2 .footer {
    border-top: 1px solid $theme1-footer-border-color;
    background-color:$theme1-footer-bg-color;
    color:$theme1-footer-text-color;
}

.theme2 .icon-btn {
    background-color: $theme2-color-widget;
    border-color: $theme2-btn-border-color;
    color: $theme2-tab-button-color;
}

.theme2 .chart-btn-icon:hover {
    color: $theme2-btn-border-color-hover;
    background-color: $theme2-color-widget;
}

@mixin btn-default ($theme2-gradient-deg, $theme2-gradient-btn-default-first-colour, $theme2-gradient-btn-default-first-precent, $theme2-gradient-btn-default-second-colour, $theme2-gradient-btn-default-second-precent, $theme2-gradient-btn-default-third-colour, $theme2-gradient-btn-default-third-precent)
{
    background-image: -moz-linear-gradient($theme2-gradient-deg, $theme2-gradient-btn-default-first-colour $theme2-gradient-btn-default-first-precent, $theme2-gradient-btn-default-second-colour $theme2-gradient-btn-default-second-precent, $theme2-gradient-btn-default-third-colour $theme2-gradient-btn-default-third-precent);
    background-image: -webkit-linear-gradient($theme2-gradient-deg, $theme2-gradient-btn-default-first-colour $theme2-gradient-btn-default-first-precent, $theme2-gradient-btn-default-second-colour $theme2-gradient-btn-default-second-precent, $theme2-gradient-btn-default-third-colour $theme2-gradient-btn-default-third-precent);
    background-image: -ms-linear-gradient($theme2-gradient-deg, $theme2-gradient-btn-default-first-colour $theme2-gradient-btn-default-first-precent, $theme2-gradient-btn-default-second-colour $theme2-gradient-btn-default-second-precent, $theme2-gradient-btn-default-third-colour $theme2-gradient-btn-default-third-precent);
}

.theme2 .btn-default {
    color: $theme2-btn-color;
    border-color: $theme2-btn-border-color;
}

.theme2 .chart-fig-btn .dropdown button {
    background-color: $theme2-chart-fig-dropdown-btn-bg-color !important;
    color: $theme2-chart-fig-dropdown-btn-text-color;
}

.theme2 .chart-fig-btn .dropdown button.activeVol {
    background-color: $theme2-title-bar-bg-color !important;
    color: $theme2-hamburger-color;
}

.theme2 .btn-default:hover, .theme2 .icon-btn:hover, .theme2 .btn-default:focus, .theme2 .btn-default.focus,.theme2 .btn-default:active, .theme2 .btn-default.active,.theme2 .open > .theme2 .dropdown-toggle.btn-default {
    color: $theme2-btn-border-color-hover;
    background-color: $theme2-color-widget;
    border-color:$theme2-btn-border-color;
}

.theme2 .dropdown-menu > li > a {
    color: $theme2-btn-color;
}

.theme2 .dropdown-menu > li > a:hover,.theme2 .dropdown-menu > li > a:focus {
    color: $theme2-text-color-light;
    background-color: $theme2-color-search-hover;
}

.theme2 .btn-default:focus, .theme2 .btn-default.focus {
    background-color: $theme2-btn-color-active;
 }

.theme2 .dropdown-menu {
    border: 1px $theme2-color-border solid;
    background-color: $theme2-menu-colour;
    box-shadow: 1px 1.732px 11px 0px $theme2-dropdown-menu-box-shadow;
}

@mixin ember-table-body-container ($theme2-gradient-deg, $theme2-gradient-ember-table-body-container-first-colour, $theme2-gradient-ember-table-body-container-first-precent, $theme2-gradient-ember-table-body-container-second-colour, $theme2-gradient-ember-table-body-container-second-precent)
{
    background-image: -moz-linear-gradient($theme2-gradient-deg, $theme2-gradient-ember-table-body-container-first-colour $theme2-gradient-ember-table-body-container-first-precent, $theme2-gradient-ember-table-body-container-second-colour $theme2-gradient-ember-table-body-container-second-precent);
    background-image: -webkit-linear-gradient($theme2-gradient-deg, $theme2-gradient-ember-table-body-container-first-colour $theme2-gradient-ember-table-body-container-first-precent, $theme2-gradient-ember-table-body-container-second-colour $theme2-gradient-ember-table-body-container-second-precent);
    background-image: -ms-linear-gradient($theme2-gradient-deg, $theme2-gradient-ember-table-body-container-first-colour $theme2-gradient-ember-table-body-container-first-precent, $theme2-gradient-ember-table-body-container-second-colour $theme2-gradient-ember-table-body-container-second-precent);
}

.theme2 .ember-table-body-container .ember-table-table-row.ember-table-hover {
	border-style: solid;
    border-width: 1px;
    border-color: $theme2-ember-table-border;
    @include ember-table-body-container ($theme2-gradient-deg, $theme2-gradient-ember-table-body-container-first-colour, $theme2-gradient-ember-table-body-container-first-precent, $theme2-gradient-ember-table-body-container-second-colour, $theme2-gradient-ember-table-body-container-second-precent);
}

.theme2 .ember-table-body-container .ember-table-table-row.ember-table-selected {
	background-color: $theme2-color-widget !important;
	border: 1px $theme2-ember-table-border solid;
    color: $theme2-text-color-main;
}

.theme2 .ember-table-header-row,.theme2 .ember-table-header-container .ember-table-table-fixed-wrapper {
	background-color: $theme2-color-widget;
}

.theme2 .ember-table-footer-container {
	background-color: $theme2-ember-table-footer-container !important;
}

.theme2 .ember-table-style-row {
	background-color: $theme2-ember-table-style-row;
}

.theme2 a {
	color: $theme2-link-default-text-color;
}

.theme2 a:hover, .theme2 a:active, .theme2 a:focus {
    color: $theme2-link-default-hover-text-color;

}

.theme2 .colour-normal {
    color: $theme2-text-color-normal !important;
    fill: $theme2-text-color-normal !important;
}

.theme2 .green {
    color:  $theme2-color-green;
}

.theme2 .green-bg {
    background-color:  $theme2-color-green;
}

.theme2 .green-dark {
    color: $theme2-color-green-dark;
}

.theme2 .red {
    color: $theme2-color-red;
}

.theme2 .red-bg {
    background-color:  $theme2-color-red;
}

.theme2 .no-change {
    background-color: $theme2-color-no-change;
}

.theme2 .no-change-bg {
    color: $theme2-color-no-change;
}
.theme2 .colour-symbol {
    color: $theme2-text-color-symbol !important;
}

.theme2 .colour-symbol-dis {
    color: $theme2-text-color-symbol-dis !important;
}

.theme2 .colour-dq-chart {
    color: $theme2-text-color-widget-title;
}

.theme2 .red-dark {
    color: $theme2-color-red-dark;
}

.theme2 .colour-1 {
    color: $theme2-color-1;
}

.theme2 .colour-2 {
    color: $theme2-color-2;
}

.theme2 .colour-3 {
    color: $theme2-color-3;
}

.theme2 .colour-4 {
    color: $theme2-color-4;
}

.theme2 .back-green-dark{
    background-color:$theme2-color-green-dark !important;
}

.theme2 .back-red-dark{
    background-color:$theme2-color-red-dark !important;
}

.theme2 .nav-tabs {
    border-bottom: 0px solid $theme2-color-border;
}

.theme2 .nav-tabs li.active a {
    background: $theme2-tab-background-color-active;
}

@mixin nav-tabs ($theme2-gradient-deg, $theme2-gradient-nav-tabs-first-colour, $theme2-gradient-nav-tabs-first-precent, $theme2-gradient-nav-tabs-second-colour, $theme2-gradient-nav-tabs-second-precent)
{
    background-image: -moz-linear-gradient($theme2-gradient-deg, $theme2-gradient-nav-tabs-first-colour $theme2-gradient-nav-tabs-first-precent, $theme2-gradient-nav-tabs-second-colour $theme2-gradient-nav-tabs-second-precent);
    background-image: -webkit-linear-gradient($theme2-gradient-deg, $theme2-gradient-nav-tabs-first-colour $theme2-gradient-nav-tabs-first-precent, $theme2-gradient-nav-tabs-second-colour $theme2-gradient-nav-tabs-second-precent);
    background-image: -ms-linear-gradient($theme2-gradient-deg, $theme2-gradient-nav-tabs-first-colour $theme2-gradient-nav-tabs-first-precent, $theme2-gradient-nav-tabs-second-colour $theme2-gradient-nav-tabs-second-precent);
}

.theme2 .nav-tabs > li > a {
    border-bottom: 0px solid $theme2-tab-background-color;
    color: $theme2-tab-text-color;
}

.theme2 .nav-tabs > li.active > a {
    border-bottom: 3px solid $theme2-tab-border-bottom-color;
    color: $theme2-tab-text-color;
}

.theme2 .nav > li > a:hover, .theme2 .nav > li > a:focus {
	background-color: $theme2-tab-background-color-hover;
    border-bottom: 3px solid $theme2-tab-border-bottom-color;
}

h2.theme2 .nav-tabs {
    color: $theme2-tab-button-color;
}

//New styles
.theme2 .v-sep {
    border-color: $theme1-v-sep-border-color;
}
.theme2 .horizontal-sep-line{
    background-color:$theme2-horizontal-sep-line-color;
}
.theme2 .horizontal-sep-line-2x{
    background-color:$theme2-horizontal-sep-line-color;
}

.theme2 .investmentCal .horizontal-sep-line {
    background-color: $theme2-investment-cal-sep-line;
}

.theme2 .tab-horizontal-sep-line{
    background-color:$theme2-tab-horizontal-sep-line-color;
}

.theme2 .border-bot-list li{
    border-color:$theme2-horizontal-sep-line-color;
}

.theme2 .border-bot-list .event-item{
    border-color:$theme2-horizontal-sep-line-color;
}

.theme2 .snap-period-wrapper-green{
    background-color:$snap-period-wrapper-green-bg-color;
    color:$snap-period-wrapper-green-text-color;
}
.theme2 .snap-period-wrapper-red{
    background-color:$snap-period-wrapper-red-bg-color;
    color:$snap-period-wrapper-red-text-color;
}
.theme2 .snap-period-wrapper-no-change{
    background-color:$snap-period-wrapper-no-change-bg-color;
    color:$snap-period-wrapper-no-change-text-color;
}
.theme2 .circle.btn-style-1{
    border: 2px solid $circle-btn-style1-border-color;
    background-color: $circle-btn-style1-background-color;
    color: $circle-btn-style1-text-color;
}
.theme2 .circle.btn-style-1:hover{
    border: 2px solid $circle-btn-style1-hover-border-color;
    background-color: $circle-btn-style1-hover-background-color;
    color: $circle-btn-style1-hover-text-color;
}

.theme2 .circle.btn-style-1.active{
    border: 2px solid $circle-btn-style1-active-border-color;
    background-color: $circle-btn-style1-active-background-color;
    color: $circle-btn-style1-active-text-color;
}

.theme2 h1.widget-title-type-1{
    border-bottom: 1px solid $widget-title-type1-border-bot-color;
}

.theme2 .event-date .day{
    color:$event-day-text-color;
}

.theme2 .event-date .month{
    color:$event-month-text-color;
}

.theme2 .event-button .add{
    color:$event-button-add-text-color;
    background-color: $event-button-add-background-color;
}

.theme2 .event-button .added{
    color:$event-button-added-text-color;
    background-color: $event-button-added-background-color;
}

.theme2 .event-button .expand-collapse{
    color: $event-button-add-text-color;
    background-color: $event-button-add-background-color;
}

.theme2 .event-button .remove{
    color:$event-button-remove-text-color;
    background-color: $event-button-remove-background-color;
}

.theme2 .event-button .more{
    color:$event-button-more-background-color;
    background-color: transparent;
}

.theme2 .hamburger{
    color:$theme2-hamburger-color;
}

.theme2 .navbar-title{
    color:$theme2-navbar-title-color;
}

.theme2 .cross{
    color:$theme2-cross-color;
}

.theme2 .navbar-side-btn{
    color:$theme2-navbar-side-btn-color;
}

.theme2 .navbar-menu{
    background-color:$theme2-navbar-menu-background-color;
}

.theme2 .navbar-menu li {
    border-bottom-color: $theme2-menu-item-border-bot-color;
}

.theme2 .navbar-menu li:hover {
    color: $theme2-menu-item-hover-text-color;
}

.theme2 .navbar-menu ul a  {
    color: $theme2-menu-item-text-color;
}

.theme2 .snap-font-color-1{
    color:$snap-font-color-1;
}
.theme2 .snap-font-color-2{
    color:$snap-font-color-2;
}
.theme2 .transbox:before{
    background-color: $theme2-color-background;
}
.theme2 .snap-refresh-icon{
    color: $snap-refresh-icon-color;
}
.theme2 .snap-company-name{
    color: $snap-company-name-color;
}
.theme2 .snap-comp-logo-wrapper{
    border-color: $snap-comp-logo-wrapper-border-color;
}

.theme2 .select-style-1{
    border-color: $theme2-select-style-1-border-color;
    background-color: $theme2-bg-transparent;
}
.theme2 .primary-btn {
    background-color: $theme2-base-primary-color !important;
    color: $theme2-text-color-white !important;
}
.theme2 .select .dropdown .btn-dropdown {
    border-color: $theme2-select-style-1-border-color;
    background-color: $theme2-bg-transparent;
    border-radius:0;
}
.theme2 .select .dropdown .dropdown-menu::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px $theme2-scroll-webkit-scrollbar-thumb;
    box-shadow: inset 0 0 6px $theme2-scroll-webkit-scrollbar-thumb;
}
.theme2 .select .dropdown .dropdown-menu::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px $theme2-scroll-webkit-scrollbar-track;
    box-shadow: inset 0 0 6px $theme2-scroll-webkit-scrollbar-track;
}
.theme2 .input-text-style-1{
    border-color: $theme2-input-text-style-1-border-color;
}

.theme2 .up-down-slider-row-1{
    background-color: $theme2-up-down-slider-row-1-bg-color;
}

.theme2 .up-down-slider-row-2{
    background-color: $theme2-up-down-slider-row-2-bg-color;
    border-color:$theme2-up-down-slider-row-1-border-color;
}

.theme2 .slide-menu-company-name{
    color: $theme2-slide-menu-company-name-text-color;
    background-color: $theme2-slide-menu-company-name-bg-color;
}

.theme2 .highlight-bg-1{
    background-color:$theme2-highlight-bg-1-bg-color;
    color:$theme2-highlight-bg-1-text-color;
}

.theme2 .info-msg-style-1{
    background-color:$theme2-info-msg-style-1-bg-color;
    color:$theme2-info-msg-style-1-text-color;
    border-color:$theme2-info-msg-style-1-border-color;
}

.theme2 .highcharts-axis-labels tspan:last-child {
    fill: $theme2-title-bar-bg-color;
}

.theme2 .highcharts-axis-labels tspan:first-child {
    fill: $theme2-axis-text-color;
}

.theme2 .settings-option-wrapper{
    background-color: $theme2-settings-option-wrapper-bg-color;
    border-color:$theme2-settings-option-wrapper-border-color;
}

.theme2 .settings-option-wrapper .flag{
    border-color:$theme2-settings-option-wrapper-flag-border-color;
}

.theme2 .settings-option-wrapper .theme-tile.theme1{
    background-color: $theme1-color-background;
    border-color:$theme2-settings-option-wrapper-theme-tile-theme1-border-color;
}
.theme2 .settings-option-wrapper .theme-tile.theme2{
    background-color: $theme2-color-background;
    border-color:$theme2-settings-option-wrapper-theme-tile-theme2-border-color;
}

.theme2 .ratios-wrapper{
    background-color: $theme2-ratios-wrapper-bg-color;
    border-color:$theme2-ratios-wrapper-border-color;
}
.theme2 .ratios-v-sep{
    border-color:$theme2-ratios-v-sep-border-color;
}

.theme2 .icon-tabs li.active a{
    border-color:$theme2-tab-border-bottom-color;
}

.theme2 .document-list .doc-title{
    color:$theme2-text-color-main;
}

.theme2 .document-list .doc-date{
    color:$theme2-text-color-light;
}

.theme2 .slide-panel-container{
    background-color:$theme2-slide-panel-container-bg-color;
}

.theme2 .slide-panel-close{
    color:$theme2-slide-panel-close-text-color;
    background-color:$theme2-slide-panel-close-bg-color;
}

.theme2 .slide-panel-container.docWrap{
    background-color:$theme2-docWrap-bg-color;
}

.theme2 .media-room-tabs a{
     color:$theme2-media-room-tabs-color;
 }

.theme2 .media-room-tabs .active a{
    color:$theme2-media-room--active-tab-color;
}

.theme2 .loader svg path,
.theme2 .loader svg rect {
    fill: $theme2-loader-color;
}

.theme2 .alt-row :nth-child(even){
    background-color:$theme2-alt-row-1-bg-color;
}
.theme2 .alt-row :nth-child(odd){
    background-color: $theme2-alt-row-2-bg-color;
}

.theme2 .alt-row .border-top{
    border-top: 1px solid $theme2-alt-row-border-color-1;
}

.theme2 .alt-row .border-top:last-child{
    border-bottom: 1px solid $theme2-alt-row-border-color-1;
}

.theme2 .widget-wrapper-style1{
    border-color: $theme2-widget-wrapper-style1-border-color;
}

.theme2 .mkt-summary-tabs{
    background-color: $theme2-mkt-summary-tabs-bg-color;
}
.theme2 .mkt-summary-tabs li{
    border-color:$theme2-tabular-border;
}
.theme2 .mkt-summary-tabs li:hover{
    border-color:$theme2-heading-text-border;
}
.theme2 .mkt-summary-tabs li a{
    color: $snap-font-color-1;
}
.theme2 .mkt-summary-tabs li a:hover{
    color: $snap-font-color-1;
}
.theme2 .mkt-summary-tabs li.act{
    background-color: $theme2-mkt-summary-tabs-act-bg-color;
    border-color:$theme2-mkt-summary-tabs-act-border-color;
}
.theme2 .mkt-summary-tabs li.act a{
    color: $theme2-text-color-main;
}

.theme2 .symbol {
  color: $theme2-symbol-common-color;
}

/* IR Mobile - YouTube page specific css codes starts here */

.theme2 .youtube-duration {
    background-color: $theme2-youtube-duration-bg;
    color: $theme2-youtube-duration-color;
}

.theme2 #youtube-header {
    background-color: $theme2-youtube-header-bg;
    color: $theme2-youtube-header-color;
    border: 1px solid $theme2-youtube-header-border;
}

.theme2 .youtube-video-tnail-box {
    box-shadow: inset 0 1px 0 $theme2-youtube-video-tnail-box-shadow-1, 0 1px 3px $theme2-youtube-video-tnail-box-shadow-2;
    background-color: $theme2-youtube-video-tnail-box-color;
}

.theme2 #youtube-encloser {
    border-left: 1px solid $theme2-youtube-encloser-border;
    border-right: 1px solid $theme2-youtube-encloser-border;
    border-bottom: 1px solid $theme2-youtube-encloser-border;
}

.theme2 #youtube-video-list-div {
    background-color: $theme2-youtube-video-list-bg;
}

.theme2 .youtube-video-list-title {
    color: $theme2-youtube-video-list-title;
}

.theme2 .youtube-video-list-views {
    color: $theme2-youtube-video-list-views;
}

/* IR Mobile - YouTube page specific css codes ends here */

.theme2 .ember-table-table-row {
    line-height: 3;
    border-bottom: 1px solid $theme2-alt-row-border-color-1;
}

.theme2 .ember-table-header-container{
    font-weight: bold;
}

.theme2 .ember-table-header-container .panel-table{
    background-color: $theme2-tbl-heading-bg;
    color:$theme2-tbl-heading-text-color;
}

.theme2 .watchlist-row-strike:before, .theme2 .tbl-row-line-strike td:before{
    border-bottom: 1px solid $theme2-strike-through-color;
}
.theme2 .tbl-row-line-strike td{
    color: $theme2-strike-through-color!important;
    font-style: italic;
}
.theme2 .watchlist-row-strike span, .theme2 .watchlist-row-strike{
    color: $theme2-strike-through-color!important;
    font-style: italic;
}
.theme2 .table .sub-title-row {
    background-color: $theme2-tbl-sub-title-row-bg;
    color:$theme2-tbl-sub-title-row-text-color
}
/* ------------------------------------ Widget - Popup - color theme starts ----------------------------- */

.theme2 .img-replace {
    color: $theme2-color-transparent;
}

.theme2 .widget-popup-trigger {
    color: $theme2-text-color-white;
    background: $theme2-widget-popup-trigger;
    box-shadow: 0 3px 0 $theme2-widget-popup-trigger-shadow;
}

.theme2 .widget-popup {
    background-color: $theme2-widget-popup-wrapper-bg;
}

.theme2 .widget-popup-title {
    color: $theme2-widget-popup-title-color;
}

.theme2 .widget-popup-container {
    background: $theme2-widget-popup-container-bg;
    box-shadow: 0 0 20px $theme2-widget-popup-container-shadow;
}

.theme2 .widget-popup-close::after, .widget-popup-close::before {
    background-color: $theme2-widget-popup-close-bg;
}

/* ---------------------------------------- Widget - Popup - color theme ends ----------------------------- */

.theme2 .docWrap a.fa {
    color: $theme2-text-color-white;
    background: $theme2-docwrap-fa-bg;
}
.theme2 .v-sep {
    border-color: $theme2-v-sep-border-color;
}
.theme2 .up-down-slider-row-2 {
    border-color: $theme2-up-down-slider-row-border;
}
.theme2 .snap-font-color-1{
    color: $snap-font-color-1;
}
.theme2 .snap-font-color-2{
    color: $snap-font-color-2;
}
.theme2 .alt-row div :nth-child(even){
    background-color: $theme2-color-transparent !important;
}
.theme2 .alt-row div :nth-child(odd){
    background-color: $theme2-color-transparent !important;
}
.theme2 .slide-panel::after {
    background: $theme2-color-transparent
}
.theme2 .slide-panel.is-visible {
    background: $theme2-slide-panel-visible-bg;
}
.theme2 .slide-panel.is-visible::after {
    background: $theme2-slide-panel-visible-bg;
}
.theme2 .slide-panel-header {
    background: $theme2-slide-panel-header-bg;
    box-shadow: 0 1px 1px $theme2-slide-panel-header-shadow;
}
/* New tab styles color variables should apply in colour-theme2 file - To_Do Firnas */
.theme2 ul.scroll_tabs_container {
  background-color: #f8f8f8;
  border: 1px solid #E0E6EC;
}
.theme2 .scroll_tabs_container li.active {
  background-color: #0a4299 !important;
  color: #ffffff !important;
}
.theme2 .scroll_tabs_container li.active a {
  color: #ffffff;
}
.theme2 .scroll_tabs_container li {
  color: #373737 !important;
}
.theme2 .scroll_tabs_container li a {
  color: #373737;
}
.theme2 .scroll_tabs_container li:hover,
.theme2 .scroll_tabs_container li:hover a {
  background-color: #0a4299 !important;
  color: #ffffff !important;
}