@import 'common-variables';
@import 'widget-variables';


.v-sep {
    border-right: 1px solid;
}
.v-sep:last-child {
    border-right: 0px;
}

.ar .v-sep {
    border-right: 0px solid;
    border-left: 1px solid;
}
.ar .v-sep:last-child {
    border-right: 0px;
    border-left: 0px!important;
}

