<div class="widget-wrapper">
	<div class="time-and-sales">
		<div class="t-n-s-top-boxes">
			<div class="t-n-s-inner-box">
				<app-disp-box [title]="localizationService.language.VOLUME" [dispValue]="stockObj.volume" [bgClass]="['t-n-s-box-common', 'col-md-12', 'col-lg-12', 'col-sm-12', 'col-xs-12', 't-n-s-box-4']"></app-disp-box>
				<app-disp-box [title]="localizationService.language.TRADES" [dispValue]="stockObj.trades" [bgClass]="['t-n-s-box-common', 'col-md-12', 'col-lg-12', 'col-sm-12', 'col-xs-12', 't-n-s-box-1']"></app-disp-box>
				<app-disp-box [title]="localizationService.language.HIGH" [dispValue]="stockObj.highPrice" [bgClass]="['t-n-s-box-common', 'col-md-12', 'col-lg-12', 'col-sm-12', 'col-xs-12', 't-n-s-box-2']"></app-disp-box>
				<app-disp-box [title]="localizationService.language.LOW" [dispValue]="stockObj.lowPrice" [bgClass]="['t-n-s-box-common', 'col-md-12', 'col-lg-12', 'col-sm-12', 'col-xs-12', 't-n-s-box-3']"></app-disp-box>
				
			</div>
		</div>

		<div class="t-n-s-table">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>{{localizationService.language.TIME}}</th>
						<th>{{localizationService.language.PRICE}}</th>
						<th>{{localizationService.language.QTY}}</th>
						<th>{{localizationService.language.CHANGE}}</th>
						<th>{{localizationService.language.PER_CHANGE}}</th>
						<th>{{localizationService.language.SPLITS}}</th>
						<th>{{localizationService.language.TURNOVER}}</th>
						<th>{{localizationService.language.TICK}}</th>
						<th>{{localizationService.language.SIDE}}</th>
					</tr>
				</thead>
				<tbody>
					<tr *ngFor="let row of timeAndSalesDataArray">
						<td>{{row.displayTime}}</td>
						<td>{{row.lastTradePrice}}</td>
						<td>{{row.totalQty}}</td>
						<td>{{row.change}}</td>
						<td>{{row.perChange}}</td>
						<td>{{row.splits}}</td>
						<td>{{row.turnOver}}</td>
						<td><span [ngClass]="row.direction"></span></td>
						<td><span [ngClass]="row.typeClass">{{row.typeString}}</span></td>
						<tr>
				</tbody>
			</table>
		</div>
	</div>
</div>