<div class="inner-wrapper container-fluid">
	<h2 class="widget-title">
		<div class="col-md-7 no-padding title">Strategies Performance</div>
		<div class="col-md-5 no-padding extra-controllers strategies-duration">

			<div class="button"  (click)="onChartPeriodChange('5Y')">5Y</div>
			<div class="button"  (click)="onChartPeriodChange('3Y')">3Y</div>
			<div class="button"  (click)="onChartPeriodChange('1Y')">1Y</div>
			<div class="button"  (click)="onChartPeriodChange('6M')">6m</div>

		</div>
	</h2>
	<div class="col-md-12 strategies_chart">
		<svg id="fundPerformanceC3Chart"></svg>
	</div>

	<table width="100%"  class="data-table strategies-table margin-small-bottom">
		<thead>
		<tr>
			<th scope="col">&nbsp;</th>
			<th *ngFor='let header of regionsArray' scope="col" class="text-right">
				{{header.description}}
			</th>
		</tr>
		</thead>

		<tr *ngFor='let dataRow of chartData'>
			<td *ngFor='let dataItem of dataRow'  class="text-right">
			{{dataItem}}
			</td>
		</tr>
	</table>
	<span class="snap-note">* Performance is annualized. Past performance is not guarantee for future performance</span>


</div>
