<div class="strategies_inner">
	<span class="strategies_title">
<div class="row">
<div class="col-md-7">Strategies Performance</div>
<div class="col-md-5 strategies_duration">
  <div class="">5Y</div>
  <div class="">3Y</div>
  <div class="">1Y</div>
  <div class="">6M</div>
</div>
</div>
</span>
	<div class="col-md-12 strategies_chart">
		<svg id="c3Chart"></svg>
	</div>

	<table width="100%" border="1" class="table table-bordered strategies_table">
		<tr>
			<th scope="col">&nbsp;</th>
			<th scope="col">Global</th>
			<th scope="col">Region</th>
			<th scope="col">Sharia Comp.</th>
		</tr>
		<tr>
			<td class="strategies_blue"><span class="strategies_dot"></span>Growth</td>
			<td>17.0</td>
			<td>1108</td>
			<td>4.6</td>
		</tr>
		<tr>
			<td class="strategies_green"><span class="strategies_dot"></span>Balanced</td>
			<td>17.0</td>
			<td>1108</td>
			<td>4.6</td>
		</tr>
		<tr>
			<td class="strategies_yellow"><span class="strategies_dot"></span>Prudent</td>
			<td>17.0</td>
			<td>1108</td>
			<td>4.6</td>
		</tr>
	</table>
	<span class="chart_note">* Performance is annualized. Past performance is not guarantee for future performance</span>
</div>