<div class="inner-wrapper container-fluid">
	<h2 class="widget-title">
		<div class="col-md-7 no-padding title">Strategies Performance</div>
		<div class="col-md-5 no-padding extra-controllers strategies-duration">

			<div class="button"  (click)="onChartPeriodChange('5Y')">5Y</div>
			<div class="button"  (click)="onChartPeriodChange('3Y')">3Y</div>
			<div class="button"  (click)="onChartPeriodChange('1Y')">1Y</div>
			<div class="button"  (click)="onChartPeriodChange('6M')">6M</div>

		</div>
	</h2>
	<div class="col-md-12 strategies_chart">
		<svg id="fundPerformanceC3Chart"></svg>
	</div>

	<table width="100%"  class="data-table strategies-table margin-small-bottom">
		<thead>
		<tr>
			<th scope="col">&nbsp;</th>
			<th scope="col" class="text-right">Global</th>
			<th scope="col" class="text-right">Region</th>
			<th scope="col" class="text-right">Sharia Comp.</th>
		</tr>
		</thead>
		<tr>
			<td class="strategies-1 text-left"><span class="dot left"></span>Growth</td>
			<td class="text-right">17.0</td>
			<td class="text-right">1108</td>
			<td class="text-right">4.6</td>
		</tr>
		<tr>
			<td class="strategies-2 text-left"><span class="dot left"></span>Balanced</td>
			<td class="text-right">17.0</td>
			<td class="text-right">1108</td>
			<td class="text-right">4.6</td>
		</tr>
		<tr>
			<td class="strategies-3 text-left"><span class="dot left"></span>Prudent</td>
			<td class="text-right">17.0</td>
			<td class="text-right">1108</td>
			<td class="text-right">4.6</td>
		</tr>
	</table>
	<span class="snap-note">* Performance is annualized. Past performance is not guarantee for future performance</span>


</div>
