<h3>{{title}}</h3>

<chart type="Map" [options]="options" (series.point.mouseOver)="onMouseOverChart($event)">
	<series>
		<point (mouseOver)="onMouseOver($event)" (mouseOut)="onMouseOut($event)" (select)="onChartSelection($event)" (unselect)="onUnselect($event)"></point>
	</series>
</chart>

<table style="width:100%;">
	<td>
		Index
	</td>
	<td>
		Last
	</td>
	<td>
		Chg.
	</td>
	<td>
		Code
	</td>
	<tr *ngFor="let indx of selectedIndexList">
		<td>
			{{indx.name}}
		</td>
		<td>
			{{indx.last}}
		</td>
		<td>
			{{indx.chg}}
		</td>
		<td>
			{{indx.code}}
		</td>
	</tr>
</table>