
$theme2-color-background:#364760;
$theme2-text-color-main:black;

$theme2-color-green: #0b893e;
$theme2-color-green-dark: #08893e;

$theme2-color-red: #e54f50;
$theme2-color-red-dark: #bf1722;

$theme2-color-no-change:#0A4299;

$theme2-snap-period-wrapper-red-bg-color:#e54f50;
$theme2-snap-period-wrapper-red-text-color:#ffffff;;

$theme2-snap-period-wrapper-green-bg-color:#0b893f;
$theme2-snap-period-wrapper-green-text-color:#ffffff;;

$theme2-snap-period-wrapper-no-change-bg-color:#0A4299;
$theme2-snap-period-wrapper-no-change-text-color:#ffffff;
$theme2-snap-note-text-color:#757575;
$theme2-snap-lbl-1-text-color: #757575;
$theme2-snap-lbl-2-text-color: #757575;

$theme2-h-sep-line-color: #e5e5e5;

$theme2-up-down-slider-row-2-border-color: #fff;


$theme2-chart-color-1: #81b6e3;
$theme2-chart-color-2: #6aa76e;
$theme2-chart-color-3: #ecb127;
$theme2-chart-color-4: #a35dba;
$theme2-chart-color-5: #fff;
$theme2-chart-color-6: #fff;

$theme2-widget-title-border-color: #bfbfbf;


$theme2-data-table-th-border-color:#dcdcdc;
$theme2-data-table-th-bg-color:#ececec;
$theme2-data-table-td-border-color:#ddd;
$theme2-data-table-odd-row-bg-color:#ffffff;
$theme2-data-table-even-row-bg-color:#f9f9f9;
$theme2-data-table-more-btn-text-color:#fff;
$theme2-data-table-more-btn-bg-color:#45beec;

$theme2-tbl-cell-bg-green:#ecf5dd;
$theme2-tbl-cell-bg-red:#ffe5e5;

$theme2-strategies-duration-btn-text-color:#fff;
$theme2-strategies-duration-btn-bg-color:#38d0e8;

$theme2-content-display-box-border-color:#dddddd;
$theme2-content-display-box-img-border-color:#d6d6d6;
