
$theme1-color-background:#eeeeee;
$theme1-text-color-main:#333;

$theme1-color-green: #0b893e;
$theme1-color-green-dark: #08893e;

$theme1-color-red: #e54f50;
$theme1-color-red-dark: #bf1722;

$theme1-color-no-change:#0A4299;

$theme1-snap-period-wrapper-red-bg-color:#e54f50;
$theme1-snap-period-wrapper-red-text-color:#ffffff;;

$theme1-snap-period-wrapper-green-bg-color:#0b893f;
$theme1-snap-period-wrapper-green-text-color:#ffffff;;

$theme1-snap-period-wrapper-no-change-bg-color:#0A4299;
$theme1-snap-period-wrapper-no-change-text-color:#ffffff;
$theme1-snap-note-text-color:#757575;
$theme1-snap-lbl-1-text-color: #757575;
$theme1-snap-lbl-2-text-color: #757575;

$theme1-h-sep-line-color: #e5e5e5;

$theme1-up-down-slider-row-2-border-color: #fff;

$theme1-chart-color-1: #81b6e3;
$theme1-chart-color-2: #6aa76e;
$theme1-chart-color-3: #ecb127;
$theme1-chart-color-4: #a35dba;
$theme1-chart-color-5: #fff;
$theme1-chart-color-6: #fff;


$theme1-widget-title-border-color: #bfbfbf;


$theme1-data-table-th-border-color:#dcdcdc;
$theme1-data-table-th-bg-color:#ececec;
$theme1-data-table-td-border-color:#ddd;
$theme1-data-table-odd-row-bg-color:#ffffff;
$theme1-data-table-even-row-bg-color:#f9f9f9;

$theme1-tbl-cell-bg-green:#ecf5dd;
$theme1-tbl-cell-bg-red:#ffe5e5;

$theme1-strategies-duration-btn-text-color:#fff;
$theme1-strategies-duration-btn-bg-color:#38d0e8;
