
$theme1-color-background:#ffffff;
$theme1-text-color-main:#333;

$theme1-color-green: #0b893e;
$theme1-color-green-dark: #08893e;

$theme1-color-red: #e54f50;
$theme1-color-red-dark: #bf1722;

$theme1-color-no-change:#0A4299;

$snap-period-wrapper-red-bg-color:#e54f50;
$snap-period-wrapper-red-text-color:#ffffff;;

$snap-period-wrapper-green-bg-color:#0b893f;
$snap-period-wrapper-green-text-color:#ffffff;;

$snap-period-wrapper-no-change-bg-color:#0A4299;
$snap-period-wrapper-no-change-text-color:#ffffff;;