@import 'colour-theme-theme1';

.theme1 body{
    font-family: arial;
    background-color: $theme1-color-background;
    color: $theme1-text-color-main;
}

.theme1 .container-bg {
    background: $theme1-color-home-bg;
}

.theme1 .navbar-inverse {
    background-color: $theme1-title-bar-bg-color;
}

.theme1 .slide-panel-header {
    background: $theme1-slide-menu-company-name-bg-color;
}

// provide some minimal visual accomodation for IE8 and below

.theme1 .TFtable tr {
    background: $theme1-color-widget;
}

//  Define the background color for all the ODD background rows

.theme1 .TFtable tr:nth-child(odd) {
    background: $theme1-color-table-odd;
}

//  Define the background color for all the EVEN background rows

.theme1 .TFtable tr:nth-child(even) {
    background: $theme1-color-table-even;
}

.theme1 .panel-table-row-odd {
    background: $theme1-color-table-odd;
}

.theme1 .panel-table-row-even {
    background: $theme1-color-table-even;
}

::-webkit-scrollbar-thumb {
    background-color:$theme1-scroll-webkit-scrollbar-thumb;
}

.theme1 .highcharts-background {
    fill: $theme1-color-transparent;
}

.theme1 .highcharts-tooltip path[fill="rgba(249, 249, 249, .85)"] {
    fill: $theme1-chart-tooltip-background;
    stroke: $theme1-tab-border-unselected;
}

.theme1 .highcharts-tooltip text {
    fill: $theme1-text-color-main !important;
}

.theme1 .highcharts-title {
    color: $theme1-text-color-main !important;
    border-bottom-color: $theme1-color-widget-border !important;
}

.theme1 path[stroke="#C0D0E0"] {
    stroke: $theme1-color-widget-border;
}

.theme1 rect[fill="#f29130"] {
    fill: $theme1-financial-chart-bar-1;
    stroke: $theme1-financial-chart-bar-1-stroke;
}

.theme1 rect[fill="#ba96c4"] {
    fill: $theme1-financial-chart-bar-2;
    stroke: $theme1-financial-chart-bar-1-stroke;
}

.theme1 .highcharts-axis-labels tspan[dy="15"]:last-child {
    fill: $theme1-text-color-chart-highlight;
}

.theme1 .highcharts-axis-labels tspan {
    fill: $theme1-text-color-main;
}

.theme1 .footer {
    border-top: 1px solid $theme1-footer-border-color;
    background-color:$theme1-footer-bg-color;
    color:$theme1-footer-text-color;
}

.theme1 .icon-btn {
    background-color: $theme1-color-widget;
    border-color: $theme1-btn-border-color;
    color: $theme1-tab-button-color;
}

// from bootsrap-override.scss

@mixin btn-default ($theme1-gradient-deg, $theme1-gradient-btn-default-first-colour, $theme1-gradient-btn-default-first-precent, $theme1-gradient-btn-default-second-colour, $theme1-gradient-btn-default-second-precent, $theme1-gradient-btn-default-third-colour, $theme1-gradient-btn-default-third-precent)
{
    background-image: -moz-linear-gradient($theme1-gradient-deg, $theme1-gradient-btn-default-first-colour $theme1-gradient-btn-default-first-precent, $theme1-gradient-btn-default-second-colour $theme1-gradient-btn-default-second-precent, $theme1-gradient-btn-default-third-colour $theme1-gradient-btn-default-third-precent);
    background-image: -webkit-linear-gradient($theme1-gradient-deg, $theme1-gradient-btn-default-first-colour $theme1-gradient-btn-default-first-precent, $theme1-gradient-btn-default-second-colour $theme1-gradient-btn-default-second-precent, $theme1-gradient-btn-default-third-colour $theme1-gradient-btn-default-third-precent);
    background-image: -ms-linear-gradient($theme1-gradient-deg, $theme1-gradient-btn-default-first-colour $theme1-gradient-btn-default-first-precent, $theme1-gradient-btn-default-second-colour $theme1-gradient-btn-default-second-precent, $theme1-gradient-btn-default-third-colour $theme1-gradient-btn-default-third-precent);
}

.theme1 .btn-default {
    color: $theme1-btn-color;
    border-color: $theme1-btn-border-color;
}

.theme1 .chart-fig-btn .dropdown button {
    background-color: $theme1-chart-fig-dropdown-btn-bg-color !important;
    color: $theme1-chart-fig-dropdown-btn-text-color;
}

.theme1 .chart-fig-btn ul.dropdown-menu li {
    border-bottom: 1px solid $theme1-chart-fig-dropdown-btn-list-border;
}

.theme1 .chart-fig-btn .dropdown button.activeVol {
    background-color: $theme1-chart-fig-dropdown-btn-bg-color !important;
    color: $theme1-chart-fig-dropdown-btn-text-color;
    border-bottom: 3px solid $theme1-chart-fig-dropdown-btn-border !important;
}

.theme1 .btn-default:hover, .theme1 .icon-btn:hover, .theme1 .btn-default:focus, .theme1 .btn-default.focus,.theme1 .btn-default:active, .theme1 .btn-default.active,.theme1 .open > .theme1 .dropdown-toggle.btn-default {
    color: $theme1-btn-border-color-hover;
    background-color: $theme1-color-widget;
    border-color:$theme1-btn-border-color;
}

.theme1 .dropdown-menu > li > a {
    color: $theme1-btn-color-text;
}

.theme1 .dropdown-menu > li > a:hover,.theme1 .dropdown-menu > li > a:focus {
    color: $theme1-text-color-light;
    background-color: $theme1-color-search-hover;
}

.theme1 .btn-default:focus, .theme1 .btn-default.focus {
    background-color: $theme1-btn-color-active;
 }

.theme1 .dropdown-menu {
    border: 1px $theme1-color-border solid;
    background-color: $theme1-menu-colour;
    box-shadow: 1px 1.732px 11px 0px $theme1-dropdown-menu-box-shadow;
}

// from ember-override.theme1 .scss

@mixin ember-table-body-container ($theme1-gradient-deg, $theme1-gradient-ember-table-body-container-first-colour, $theme1-gradient-ember-table-body-container-first-precent, $theme1-gradient-ember-table-body-container-second-colour, $theme1-gradient-ember-table-body-container-second-precent)
{
    background-image: -moz-linear-gradient($theme1-gradient-deg, $theme1-gradient-ember-table-body-container-first-colour $theme1-gradient-ember-table-body-container-first-precent, $theme1-gradient-ember-table-body-container-second-colour $theme1-gradient-ember-table-body-container-second-precent);
    background-image: -webkit-linear-gradient($theme1-gradient-deg, $theme1-gradient-ember-table-body-container-first-colour $theme1-gradient-ember-table-body-container-first-precent, $theme1-gradient-ember-table-body-container-second-colour $theme1-gradient-ember-table-body-container-second-precent);
    background-image: -ms-linear-gradient($theme1-gradient-deg, $theme1-gradient-ember-table-body-container-first-colour $theme1-gradient-ember-table-body-container-first-precent, $theme1-gradient-ember-table-body-container-second-colour $theme1-gradient-ember-table-body-container-second-precent);
}

.theme1 .ember-table-body-container .ember-table-table-row.ember-table-hover {
	border-style: solid;
    border-width: 1px;
    border-color: $theme1-ember-table-border;
    @include ember-table-body-container ($theme1-gradient-deg, $theme1-gradient-ember-table-body-container-first-colour, $theme1-gradient-ember-table-body-container-first-precent, $theme1-gradient-ember-table-body-container-second-colour, $theme1-gradient-ember-table-body-container-second-precent);
}

.theme1 .ember-table-body-container .ember-table-table-row.ember-table-selected {
	background-color: $theme1-color-widget !important;
	border: 1px $theme1-ember-table-border solid;
    color: $theme1-text-color-main;
}

.theme1 .ember-table-header-row,.theme1 .ember-table-header-container .ember-table-table-fixed-wrapper {
	background-color: $theme1-color-widget;
}

.theme1 .ember-table-footer-container {
	background-color: $theme2-ember-table-footer-container !important;
}

.theme1 .ember-table-style-row {
	background-color: $theme2-ember-table-style-row;
}

.theme1 a {
	color: $theme1-link-default-text-color;
}

.theme1 a:hover, .theme1 a:active, .theme1 a:focus {
    color: $theme1-link-default-hover-text-color;

}

.theme1 .colour-normal {
    color: $theme1-text-color-normal !important;
    fill: $theme1-text-color-normal !important;
}

.theme1 .green {
    color:  $theme1-color-green;
}

.theme1 .green-bg {
    background-color:  $theme1-color-green;
}

.theme1 .green-dark {
    color: $theme1-color-green-dark;
}

.theme1 .red {
    color: $theme1-color-red;
}

.theme1 .red-bg {
    background-color:  $theme1-color-red;
}

.theme1 .no-change {
    background-color: $theme1-color-no-change;
}

.theme1 .no-change-bg {
    color: $theme1-color-no-change;
}

.theme1 .colour-symbol {
    color: $theme1-text-color-symbol !important;
}

.theme1 .colour-symbol-dis {
    color: $theme1-text-color-symbol-dis !important;
}

.theme1 .colour-dq-chart {
    color: $theme1-text-color-widget-title;
}

.theme1 .red-dark {
    color: $theme1-color-red-dark;
}

.theme1 .colour-1 {
    color: $theme1-color-1;
}

.theme1 .colour-2 {
    color: $theme1-color-2;
}

.theme1 .colour-3 {
    color: $theme1-color-3;
}

.theme1 .colour-4 {
    color: $theme1-color-4;
}

.theme1 .widget-dq-chart-color {
    color: $theme1-text-color-widget-title;
}

.theme1 .header-colour {
    color: $theme1-text-color-table-header;
}

.theme1 .back-green-dark{
    background-color:$theme1-color-green-dark !important;
}

.theme1 .back-red-dark{
    background-color:$theme1-color-red-dark !important;
}

.theme1 .text-box {
    border: 1px $theme1-btn-border-color solid;
    background-color: $theme1-color-background;
}

.theme1 .watchlist-cell-back-red{
    background-color: $theme1-watchlist-cell-back-red;
}

.theme1 .watchlist-cell-back-green{
    background-color: $theme1-watchlist-cell-back-green;
}

.theme1 .watchlist-cell-back-lastqty{
    background-color: $theme1-watchlist-cell-back-lastqty;
}

.theme1 .watchlist-row-back-red {
    background-color: $theme1-watchlist-row-back-red;
}

.theme1 .watchlist-row-back-green {
    background-color: $theme1-watchlist-row-back-green;
}

.theme1 .watchlist-row-strike {
    text-decoration: line-through;
}

.theme1 .nav-tabs {
    border-bottom: 0px solid $theme1-color-border;
}

@mixin nav-tabs ($theme1-gradient-deg, $theme1-gradient-nav-tabs-first-colour, $theme1-gradient-nav-tabs-first-precent, $theme1-gradient-nav-tabs-second-colour, $theme1-gradient-nav-tabs-second-precent)
{
    background-image: -moz-linear-gradient($theme1-gradient-deg, $theme1-gradient-nav-tabs-first-colour $theme1-gradient-nav-tabs-first-precent, $theme1-gradient-nav-tabs-second-colour $theme1-gradient-nav-tabs-second-precent);
    background-image: -webkit-linear-gradient($theme1-gradient-deg, $theme1-gradient-nav-tabs-first-colour $theme1-gradient-nav-tabs-first-precent, $theme1-gradient-nav-tabs-second-colour $theme1-gradient-nav-tabs-second-precent);
    background-image: -ms-linear-gradient($theme1-gradient-deg, $theme1-gradient-nav-tabs-first-colour $theme1-gradient-nav-tabs-first-precent, $theme1-gradient-nav-tabs-second-colour $theme1-gradient-nav-tabs-second-precent);
}

.theme1 .nav-tabs > li > a {
    border-bottom: 3px solid $theme1-tab-border-unselected;
    border-top-width: 0px;
    border-right-width: 0px;
    border-left-width: 0px;
    border-radius: 0;
    color: $theme1-tab-text-color;
}

.theme1 .nav-tabs > li.active > a {
    border-bottom: 3px solid $theme1-tab-border-bottom-color;
    color: $theme1-tab-text-color;
    background: $theme1-tab-background-color;
}

.theme1 .nav > li > a:hover, .theme1 .nav > li > a:focus {
    background-color: $theme1-tab-background-color-hover;
    border-bottom: 3px solid $theme1-tab-border-bottom-color;
}

h2.theme1 .nav-tabs {
    color: $theme1-tab-button-color;
}

//New styles
.theme1 .v-sep {
    border-color: $theme1-v-sep-border-color;
}

.theme1 .horizontal-sep-line{
    background-color:$theme1-horizontal-sep-line-color;
}
.theme1 .horizontal-sep-line-2x{
    background-color:$theme1-horizontal-sep-line-color;
}
.theme1 .tab-horizontal-sep-line{
    background-color:$theme1-tab-horizontal-sep-line-color;
}

.theme1 .border-bot-list li{
    border-color:$theme1-horizontal-sep-line-color;
}

.theme1 .border-bot-list .event-item{
    border-color:$theme1-horizontal-sep-line-color;
}

.theme1 .snap-period-wrapper-green{
    background-color:$snap-period-wrapper-green-bg-color;
    color:$snap-period-wrapper-green-text-color;
}

.theme1 .snap-period-wrapper-red{
    background-color:$snap-period-wrapper-red-bg-color;
    color:$snap-period-wrapper-red-text-color;
}
.theme1 .snap-period-wrapper-no-change{
    background-color:$snap-period-wrapper-no-change-bg-color;
    color:$snap-period-wrapper-no-change-text-color;
}
.theme1 .circle.btn-style-1{
    border: 2px solid $circle-btn-style1-border-color;
    background-color: $circle-btn-style1-background-color;
    color: $circle-btn-style1-text-color;
}
.theme1 .circle.btn-style-1:hover{
    border: 2px solid $circle-btn-style1-hover-border-color;
    background-color: $circle-btn-style1-hover-background-color;
    color: $circle-btn-style1-hover-text-color;
}

.theme1 .circle.btn-style-1.active{
    border: 2px solid $circle-btn-style1-active-border-color;
    background-color: $circle-btn-style1-active-background-color;
    color: $circle-btn-style1-active-text-color;
}

.theme1 h1.widget-title-type-1{
    border-bottom: 1px solid $widget-title-type1-border-bot-color;
}

.theme1 .event-date .day{
    color:$event-day-text-color;
}

.theme1 .event-date .month{
    color:$event-month-text-color;
}

.theme1 .event-button .add{
    color:$event-button-add-text-color;
    background-color: $event-button-add-background-color;
}

.theme1 .event-button .added{
    color:$event-button-added-text-color;
    background-color: $event-button-added-background-color;
}

.theme1 .event-button .expand-collapse{
    color: $event-button-add-text-color;
    background-color: $event-button-add-background-color;
}

.theme1 .event-button .more{
    color:$event-button-more-text-color;
    background-color: $event-button-more-background-color;
}
.theme1 .event-button .remove{
    color:$event-button-remove-text-color;
    background-color: $event-button-remove-background-color;
}

.theme1 .hamburger{
    color:$theme1-hamburger-color;
}

.theme1 .navbar-title{
    color:$theme1-navbar-title-color;
}

.theme1 .cross{
    color:$theme1-cross-color;
}

.theme1 .navbar-side-btn{
    color:$theme1-navbar-side-btn-color;
}

.theme1 .navbar-menu{
    background-color:$theme1-navbar-menu-background-color;
}

.theme1 .navbar-menu li {
    border-bottom-color: $theme1-menu-item-border-bot-color;
}
.theme1 .navbar-menu li:hover {
    color: $theme1-menu-item-hover-text-color;
}

.theme1 .navbar-menu ul a  {
    color: $theme1-menu-item-text-color;
}

.theme1 .snap-font-color-1{
    color:$snap-font-color-1;
}
.theme1 .snap-font-color-2{
    color:$snap-font-color-2;
}
.theme1 .transbox:before{
     background-color: $theme1-color-background;
 }
.theme1 .snap-refresh-icon{
    color: $snap-refresh-icon-color;
}
.theme1 .snap-company-name{
    color: $snap-company-name-color;
}
.theme1 .snap-note {
    color: $snap-font-color-1;
}
.theme1 .snap-comp-logo-wrapper{
    border-color: $snap-comp-logo-wrapper-border-color;
}

.theme1 .select-style-1 {
    border-color: $theme1-select-style-1-border-color;
    background: $theme1-select-style-1-background;
    color: $theme1-select-style-1-txt-color;
}
.theme1 .primary-btn {
    background-color: $theme1-base-primary-color !important;
    color: $theme1-text-color-white !important;
}
.theme1 .select .dropdown .btn-dropdown {
    border-color: $theme1-select-style-1-border-color;
    background: $theme1-select-style-1-background;
    color: $theme1-select-style-1-txt-color;
    border-radius:0;
}
.theme1 .select .dropdown .dropdown-menu::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px $theme1-scroll-webkit-scrollbar-thumb;
    box-shadow: inset 0 0 6px $theme1-scroll-webkit-scrollbar-thumb;
}
.theme1 .select .dropdown .dropdown-menu::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px $theme1-scroll-webkit-scrollbar-track;
    box-shadow: inset 0 0 6px $theme1-scroll-webkit-scrollbar-track;
}

.theme1 .input-text-style-1{
    border-color: $theme1-input-text-style-1-border-color;
    background: $theme1-input-text-style-1-background;
}

.theme1 .up-down-slider-row-1{
    background-color: $theme1-up-down-slider-row-1-bg-color;
}

.theme1 .up-down-slider-row-2{
    background-color: $theme1-up-down-slider-row-2-bg-color;
}

.theme1 .slide-menu-company-name{
    color: $theme1-slide-menu-company-name-text-color;
    background-color: $theme1-slide-menu-company-name-bg-color;
}

.theme1 .highlight-bg-1{
    background-color:$theme1-highlight-bg-1-bg-color;
    color:$theme1-highlight-bg-1-text-color;
}

.theme1 .info-msg-style-1{
    background-color:$theme1-info-msg-style-1-bg-color;
    color:$theme1-info-msg-style-1-text-color;
    border-color:$theme1-info-msg-style-1-border-color;
}

.theme1 .settings-option-wrapper{
    background-color: $theme1-settings-option-wrapper-bg-color;
    border-color:$theme1-settings-option-wrapper-border-color;
}

.theme1 .settings-option-wrapper .flag{
    border-color:$theme1-settings-option-wrapper-flag-border-color;
}

.theme1 .settings-option-wrapper .theme-tile.theme1{
     background-color: $theme1-color-background;
     border-color:$theme1-settings-option-wrapper-theme-tile-theme1-border-color;
 }
.theme1 .settings-option-wrapper .theme-tile.theme2{
    background-color: $theme2-color-background;
    border-color:$theme1-settings-option-wrapper-theme-tile-theme2-border-color;
}

.theme1 .ratios-wrapper{
    background-color: $theme1-ratios-wrapper-bg-color;
    border-color:$theme1-ratios-wrapper-border-color;
}
.theme1 .ratios-v-sep{
    border-color:$theme1-ratios-v-sep-border-color;
}

.theme1 .indicator-menu .checked:before{
    color:$theme1-color-green;
}

.theme1 .icon-tabs li.active a{
    border-color:$theme1-tab-border-bottom-color;
}

.theme1 .document-list .doc-title{
    color:$theme1-text-color-main;
}

.theme1 .document-list .doc-date{
    color:$theme1-text-color-light;
}

.theme1 .slide-panel-container{
    background-color:$theme1-slide-panel-container-bg-color;
}

.theme1 .slide-panel-close{
    color:$theme1-slide-panel-close-text-color;
    background-color:$theme1-slide-panel-close-bg-color;
}

.theme1 .slide-panel-container.docWrap{
    background-color:$theme1-docWrap-bg-color;
}


.theme1 .media-room-tabs a{
    color:$theme1-media-room-tabs-color;
}

.theme1 .media-room-tabs .active a{
    color:$theme1-media-room--active-tab-color;
}

.theme1 .table-wrapper table tr th:first-child,
.theme1 table.Table3 tr:first-child th {
    background: $theme1-table-wrapper-heading;
    border: 1px solid $theme1-table-wrapper-heading-border;
}

.theme1 .table-wrapper table tr:nth-child(even) {
    background: $theme1-table-wrapper-bg-even;
}

.theme1 .table-wrapper table tr:nth-child(odd) {
    background: $theme1-table-wrapper-bg-odd;
}

.theme1 .table-wrapper table tr td {
    border: 1px solid $theme1-table-wrapper-body-border;
}

.theme1 .alert-warning {
    background: $theme1-alert-background;
    color: $theme1-alert-color;
    border-color: $theme1-alert-border;
}

.theme1 .loader svg path,
.theme1 .loader svg rect{
  fill: $theme1-loader-color;
}

.theme1 .alt-row :nth-child(even){
    background-color:$theme1-alt-row-1-bg-color;
}
.theme1 .alt-row :nth-child(odd){
    background-color: $theme1-alt-row-2-bg-color;
}

.theme1 .alt-row .border-top{
    border-top: 1px solid $theme1-alt-row-border-color-1;
}

.theme1 .alt-row .border-top:last-child{
    border-bottom: 1px solid $theme1-alt-row-border-color-1;
}

.theme1 .widget-wrapper-style1{
    border-color: $theme1-widget-wrapper-style1-border-color;
}

.theme1 .mkt-summary-tabs{
    background-color: $theme1-mkt-summary-tabs-bg-color;
}
.theme1 .mkt-summary-tabs li{
    border-color:$theme1-tabular-border;
}
.theme1 .mkt-summary-tabs li:hover{
    border-color:$theme1-heading-text-border;
}
.theme1 .mkt-summary-tabs li a{
    color: $snap-font-color-1;
}
.theme1 .mkt-summary-tabs li a:hover{
    color: $snap-font-color-1;
}
.theme1 .mkt-summary-tabs li.act{
    background-color: $theme1-mkt-summary-tabs-act-bg-color;
    border-color:$theme1-mkt-summary-tabs-act-border-color;
}
.theme1 .mkt-summary-tabs li.act a{
    color: $theme1-text-color-main;
}

.theme1 .symbol {
  color: $theme1-symbol-common-color;
}

/* IR Mobile - YouTube page specific css codes starts here */

.theme1 .youtube-duration {
  background-color: $theme1-youtube-duration-bg;
  color: $theme1-youtube-duration-color;
}

.theme1 #youtube-header {
  background-color: $theme1-youtube-header-bg;
  color: $theme1-youtube-header-color;
  border: 1px solid $theme1-youtube-header-border;
}

.theme1 .youtube-video-tnail-box {
  box-shadow: inset 0 1px 0 $theme1-youtube-video-tnail-box-shadow-1, 0 1px 3px $theme1-youtube-video-tnail-box-shadow-2;
  background-color: $theme1-youtube-video-tnail-box-color;
}

.theme1 #youtube-encloser {
  border-left: 1px solid $theme1-youtube-encloser-border;
  border-right: 1px solid $theme1-youtube-encloser-border;
  border-bottom: 1px solid $theme1-youtube-encloser-border;
}

.theme1 #youtube-video-list-div {
  background-color: $theme1-youtube-video-list-bg;
}

.theme1 .youtube-video-list-title {
  color: $theme1-youtube-video-list-title;
}

.theme1 .youtube-video-list-views {
  color: $theme1-youtube-video-list-views;
}

/* IR Mobile - YouTube page specific css codes ends here */

.theme1 .ember-table-table-row {
    line-height: 3;
    border-bottom: 1px solid $theme1-alt-row-border-color-1;
}

.theme1 .ember-table-header-container{
    font-weight: bold;
}

.theme1 .ember-table-header-container .panel-table{
    background-color: $theme1-tbl-heading-bg;
    color:$theme1-tbl-heading-text-color;
}

.theme1 .watchlist-row-strike:before, .theme1 .tbl-row-line-strike td:before{
    border-bottom: 1px solid $theme1-strike-through-color;
}
.theme1 .tbl-row-line-strike td{
    color: $theme1-strike-through-color!important;
    font-style: italic;
}
.theme1 .watchlist-row-strike span, .theme1 .watchlist-row-strike{
    color: $theme1-strike-through-color!important;
    font-style: italic;
}
.theme1 .table .sub-title-row {
    background-color: $theme1-tbl-sub-title-row-bg;
    color:$theme1-tbl-sub-title-row-text-color
}
/* --------------------------------------- Widget Color for Popup starts here ---------------------------------------- */

.theme1 .img-replace {
    color: $theme1-color-transparent;
}

.theme1 .widget-popup-trigger {
    color: $theme1-text-color-white;
    background: $theme1-widget-popup-trigger;
    box-shadow: 0 3px 0 $theme1-widget-popup-trigger-shadow;
}

.theme1 .widget-popup {
    background-color: $theme1-widget-popup-wrapper-bg;
}

.theme1 .widget-popup-title {
    color: $theme1-widget-popup-title-color;
}

.theme1 .widget-popup-container {
    background: $theme1-widget-popup-container-bg;
    box-shadow: 0 0 20px $theme1-widget-popup-container-shadow;
}

.theme1 .widget-popup-close::after, .widget-popup-close::before {
    background-color: $theme1-widget-popup-close-bg;
}

/* --------------------------------------- Widget Color for Popup ends here ---------------------------------------- */

.theme1 .docWrap a.fa {
    color: $theme1-text-color-white;
    background: $theme1-docwrap-fa-bg;
}
.theme1 .v-sep {
    border-color: $theme1-v-sep-border-color;
}
.theme1 .up-down-slider-row-2 {
    border-color: $theme1-up-down-slider-row-border;
}
.theme1 .alt-row div :nth-child(even){
    background-color: $theme1-color-transparent !important;
}
.theme1 .alt-row div :nth-child(odd){
    background-color: $theme1-color-transparent !important;
}
.theme1 .slide-panel::after {
    background: $theme1-color-transparent
}
.theme1 .slide-panel.is-visible {
    background: $theme1-slide-panel-visible-bg;
}
.theme1 .slide-panel.is-visible::after {
    background: $theme1-slide-panel-visible-bg;
}
.theme1 .slide-panel-header {
    background: $theme1-slide-panel-header-bg;
    box-shadow: 0 1px 1px $theme1-slide-panel-header-shadow;
}