@import 'colour-theme-theme1';

body.theme1{
    font-family: arial;
    background-color: $theme1-color-background;
    color: $theme1-text-color-main;
}

.theme1 .green-text {
    color:  $theme1-color-green;
}

.theme1 .green-bg {
    background-color:  $theme1-color-green;
}

.theme1 .green-dark-text {
    color: $theme1-color-green-dark;
}

.theme1 .red-text {
    color: $theme1-color-red;
}

.theme1 .red-bg {
    background-color:  $theme1-color-red;
}

.theme1 .no-change-bg {
    background-color: $theme1-color-no-change;
}

.theme1 .no-change-bg-text {
    color: $theme1-color-no-change;
}

.theme1 .snap-period-wrapper-green{
    background-color:$snap-period-wrapper-green-bg-color;
    color:$snap-period-wrapper-green-text-color;
}

.theme1 .snap-period-wrapper-red{
    background-color:$snap-period-wrapper-red-bg-color;
    color:$snap-period-wrapper-red-text-color;
}
.theme1 .snap-period-wrapper-no-change{
    background-color:$snap-period-wrapper-no-change-bg-color;
    color:$snap-period-wrapper-no-change-text-color;
}