@import 'common-variables';
@import 'widget-variables';

body {
  line-height: $line-height-normal;
}

body.ar {
  direction: rtl;
}

.h-sep-line {
  width: 100%;
  height: 1px;
}

.v-sep {
  border-right: 1px solid;
}

.v-sep:last-child {
  border-right: 0px;
}

.ar .v-sep {
  border-right: 0px solid;
  border-left: 1px solid;
}

.ar .v-sep:last-child {
  border-right: 0px;
  border-left: 0px !important;
}

.snap-current-price-wrapper {
  padding-left: 5px;
}

.snap-current-price {
  font-size: $snap-font-size-5;
  margin-bottom: 15px;
}

.snap-current-price-currency {
  font-size: $snap-font-size-2;
}

.snap-change {
  margin-right: 10px;
  font-size: $snap-font-size-3;
}

.ar .snap-change {
  margin-left: 10px;
  font-size: $snap-font-size-3;
}

.snap-percentange {
  font-size: $snap-font-size-5;
}

.snap-date {
  font-size: 11px;
  margin-bottom: 5px;
}

.snap-note {
  font-size: 11px;
}

.snap-val-1 {
  font-size: $snap-font-size-2;
}

.snap-val-2 {
  font-size: $snap-font-size-2;
}

.snap-lbl-1 {
  font-size: $snap-font-size-1;
}

.snap-lbl-2 {
  font-size: $snap-font-size-2;
}

.up-down-slider-row-1 {
  width: 100%;
  height: 5px;
  margin-bottom: 4px;
}

.up-down-slider-row-2 {
  width: 40%;
  height: 5px;
  border-right: 2px solid;
}

.ar .up-down-slider-row-2 {
  float: right;
  border-left: 2px solid;
  border-right: 0;
}


/*
---
------
--------- Login Page Styles
*/

.login .lang-bar {
	position: absolute;
	top: 0;
	width: 100%;
	padding: $padding-medium;
	color: #fff;
}

.login .lang-bar-ar button {
	padding: 0px 20px 5px 20px;
	background: none;
	font-size: $font-xxx-large;
	letter-spacing: 1px;
	border-radius: 17px;
	text-decoration: none;
	border: 2px solid $login-lang-btn-border-color;
	width: 100px;
}

.login .lang-bar-en button {
	padding: 6px 20px;
	background: none;
	font-size: $font-x-large;
	letter-spacing: 1px;
	border-radius: 17px;
	text-decoration: none;
	border: 2px solid $login-lang-btn-border-color;
	width: 100px;
}

.login .lang-bar-ar button:hover, .lang-bar-en button:hover {
	background: $login-lang-btn-border-color;
	color: #e0e1e0;
	-webkit-transition: all .3s;
	transition: all .3s;
	border: 2px solid $login-lang-btn-border-color;
}

.login .lang-bar-ar{
	text-align: $text-align-3;
}

.login .authenticateProgress{
	text-align: $text-align-2;
	color: $success-msg-font-color;
	font-size: $font-x-large;
	font-weight: 100;
}

.login .authError{
	text-align: $text-align-2;
	color: $error-msg-font-color;
	font-size: $font-x-large;
	font-weight: 100;
}

.login .active {
  border-bottom: 3px solid #d6d6d6;
}

.login .inner-bg {
  padding: 100px 0 170px 0;
  background-image: url("../assets/images/bg.png");
  height: 100vh;
}

.login .mubasher-logo {
  margin: 0 auto;
  width: 45%;
}

.login .slogan {
  font-size: $login-slogan-1-font-large-desktop;
  text-align: $text-align-2;
  letter-spacing: 12px;
  margin-left: 30px;
  background: $login-slogan-color;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.login .slogan span {
  display: inline-block;
  font-size: $login-slogan-2-font-large-desktop;
  background: $login-slogan-color;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.login .top-content .text {
  color: #fff;
}

.login .live-tab{
  background: $login-tab-live-bg-color;
}

.login .demo-tab{
  background: $login-tab-demo-bg-color;
}

.login .live-tab, .login .demo-tab {
  width: 50%;
  height: 60px;
  line-height: 60px;
  text-align: $text-align-2;
  float: $float-1;
  color: #fff;
  font-size: $font-xx-large;
}

.login .top-content .text h1 {
  color: #fff;
}

.login .top-content .description p {
  opacity: 0.8;
}

.login .top-content .description a {
  color: #fff;
}

.login .top-content .description a:hover,
.login .top-content .description a:focus {
  border-bottom: 1px dotted #fff;
}

.login .form-box {
  margin-top: 35px;
}

.login .form-top {
  overflow: hidden;
  padding: 0;
  text-align: $text-align-1;
  position: relative;
}

.login .form-top img {
  width: 100%;
}

.login .form-top-left h3 {
  margin-top: 0;
}

.login .forget-pw a {
  background: transparent;
  border: none;
  width: 100%;
  float: $float-1;
  text-align: $text-align-3;
  box-shadow: none;
	padding-top: $padding-small + 1;
	color: #55ceff;
	font-size: $font-xx-large;
}

.login .rememberme{
	width: 50%;
	float: $float-1;
	height: 34px;
	padding: 6px 12px;
}

.login .rememberme p{
height: 22px;
line-height: 22px;
margin: 0;
font-size: $font-xx-large;
color: #CFD8DC;
float: $float-1;
width: auto;
}

.login .forget-pw {
  height: 34px;
  line-height: 34px;
  text-decoration: underline;
	width: 50%;
	float: $float-1;
}

.login .form-bottom {
  padding: 25px 25px 30px 25px;
  background: $login-box-bg-color;
  text-align: $text-align-1;
}

.login .form-bottom form textarea {
  height: 100px;
}

.login .form-bottom form button.btn {
  width: 100%;
	margin-top: $margin-medium;
}

.login input[type="text"],
.login input[type="password"],
.login textarea,
.login textarea.form-control {
  height: 50px;
  margin: 0;
  padding: 0 20px;
  vertical-align: middle;
  background: $login-input-fields-bg-color;
  font-family: 'Roboto', sans-serif;
  font-size: $font-xx-large;
  font-weight: 300;
  line-height: 50px;
  color: $login-input-text-color;
  -o-transition: all .3s;
  -moz-transition: all .3s;
  -webkit-transition: all .3s;
  -ms-transition: all .3s;
  transition: all .3s;
	border-radius: 0;
}

.login textarea,
.login textarea.form-control {
  padding-top: $padding-medium;
  padding-bottom: $padding-medium;
  line-height: 30px;
}

.login button.btn {
  height: 50px;
  margin: 0;
  padding: 0 20px;
  vertical-align: middle;
  background: $login-btn-bg-color;
  border: 0;
  font-family: 'Roboto', sans-serif;
  font-size: $font-xx-large;
  font-weight: 300;
  line-height: 50px;
  color: #fff;
  text-shadow: none;
  -o-transition: all .3s;
  -moz-transition: all .3s;
  -webkit-transition: all .3s;
  -ms-transition: all .3s;
  transition: all .3s;
	border-radius: 0;
}

.login button.btn:hover {
  opacity: 0.6;
  color: #fff;
}

.login button.btn:active {
  outline: 0;
  opacity: 0.6;
  color: #fff;
}

.login button.btn:focus {
  outline: 0;
  opacity: 0.6;
  background: $login-btn-bg-color;
  color: #fff;
}

.login button.btn:active:focus, .login button.btn.active:focus {
  outline: 0;
  opacity: 0.6;
  background: $login-btn-bg-color;
  color: #fff;
}

ul,
li {
	list-style: none;
	margin: 0;
	padding: 0;
}

.tg-list {
	text-align: $text-align-2;
	display: flex;
	align-items: center;
	width: auto;
	float: left;
}

.tg-list-item {
	margin: 0 1em 0 0;
}

.tgl {
	display: none;

	&,
	&:after,
	&:before,
	& *,
	& *:after,
	& *:before,
	& + .tgl-btn {
		box-sizing: border-box;
		&::selection {
			background: none;
		}
	}

	+ .tgl-btn {
		outline: 0;
		display: block;
		width: 3.5em;
		height: 1.5em;
		position: relative;
		cursor: pointer;
		user-select: none;
		&:after,
		&:before {
			position: relative;
			display: block;
			content: "";
			width: 50%;
			height: 100%;
		}

		&:after {
			left: 0;
		}

		&:before {
			display: none;
		}
	}

	&:checked + .tgl-btn:after {
		left: 50%;
	}
}

.tgl-flat {
	+ .tgl-btn {
		padding: 2px;
		transition: all .4s ease;
		border: 2px solid $login-tgl-btn-desabl-color;
		border-radius: 2em;
		&:after {
			transition: all .4s ease;
			background: $login-tgl-btn-desabl-color;
			content: "";
			border-radius: 1em;
		}
	}

	&:checked + .tgl-btn {
		border: 2px solid $login-tgl-btn-active-color;
		&:after {
			left: 50%;
			background: $login-tgl-btn-active-color;
		}
	}
}

.login-authenticating {
	margin-top: $margin-large;
	text-align: $text-align-2;
	width: 100%;
}

.login-authenticating span{
	width: 100%;
	display: inline-block;
}

/***** Language = Arabic *****/

.ar .login .tg-list{
	direction: ltr;
}

.ar .login .rememberme {
	float: right;
}

.ar .login .tg-list {
	float: right;
}

.ar .login .tg-list-item {
	margin: 0 0 0 1em;
}

.ar .login .rememberme p {
	float: right;
}

.ar .login .forget-pw {
	float: right;
}

.ar .login .forget-pw a {
	float: left;
	text-align: left;
}

.ar .login .lang-bar-en {
	text-align: left;
}

/***** Media queries *****/

//large-monitors
@media (min-width: 992px) and (max-width: 1992px){

}

//small monitors
@media (min-width: 992px) and (max-width: 1366px) {
	.login .mubasher-logo {
		width: 30%;
	}
	.login .slogan {
		font-size: 20px;
	}

	.login .slogan span {
		font-size: 15px;
	}
	.login .inner-bg{
		padding: 30px 0 0;
	}

	.login .tg-list {
		width: 35%;
		float: left;
	}

	.login .tg-list  li{
		float: left;
		margin-left: 0;
		margin-right: 1em;
	}
}

//tabs
@media (min-width: 768px) and (max-width: 991px) {
	.login .forget-pw a {
		font-size: 14px;
		padding-top: 4px;
	}
	.login .tg-list li{
		margin: 0 1em 0 0;
	}
	.login .rememberme p {
		font-size: 14px;
		height: 19px;
		line-height: 19px;
	}
}

//mobiles
@media (max-width: 767px) {

	.login .inner-bg {
		padding: 70px 0 50px 0;
	}

	.login h1, .login h2 {
		font-size: 32px;
	}

	.lang-bar-ar button {
		width: 90px;
		padding-bottom: 8px;
		padding-top: 4px;
		border: 1px solid $login-lang-btn-border-color;
		font-size: 12px;
		border-radius: 17px;
		text-decoration: none;
	}

	.lang-bar-en button {
		width: 90px;
		padding-bottom: 7px;
		padding-top: 7px;
		border: 1px solid $login-lang-btn-border-color;
		font-size: 11px;
		border-radius: 17px;
		text-decoration: none;
	}

	.login .mubasher-logo {
		width: 65%;
	}

	.login .slogan {
		font-size: 20px;
		letter-spacing: 8px;
		margin-left: 20px;
	}

	.login .slogan span {
		font-size: 15px;
	}

	.login input[type="text"], .login input[type="password"], .login textarea, .login textarea.form-control {
		height: 35px;
		padding: 0 10px;
		border: 1px solid #ddd;
		font-size: 13px;
	}

	.login button.btn {
		height: 35px;
		padding: 0 10px;
		font-size: 15px;
		line-height: 35px;
	}

	.login .live-tab, .login .demo-tab {
		height: 50px;
		line-height: 50px;
		font-size: 16px;
	}

	.login .forget-pw a {
		font-size: 11px;
		padding:0;
		padding: 2px 0 0;
	}

	.login .rememberme {
		width: 50%;
		padding: 0;
		height: 25px;
	}

	.login .tg-list li{
		margin: 0 5px 0 0;
	}

	.login .rememberme p {
		height: 19px;
		line-height: 19px;
		font-size: 11px;
	}

	.login .form-bottom form button.btn{
		margin-top: 0;
	}

	.login .form-bottom{
		background: none;
	}

	.tgl {
		display: none;

		&,
		&:after,
		&:before,
		& *,
		& *:after,
		& *:before,
		& + .tgl-btn {
			box-sizing: border-box;
			&::selection {
				background: none;
			}
		}

		+ .tgl-btn {
			outline: 0;
			display: block;
			width: 2.8em;
			height: 1.4em;
			position: relative;
			cursor: pointer;
			user-select: none;
			&:after,
			&:before {
				position: relative;
				display: block;
				content: "";
				width: 50%;
				height: 100%;
			}

			&:after {
				left: 0;
			}

			&:before {
				display: none;
			}
		}

		&:checked + .tgl-btn:after {
			left: 50%;
		}
	}
}

/*
	---
	------
	--------- Login CSS End
*/


// Sidebar Menu start
a.nav-expander {
  background: none repeat scroll 0 0 #1a237e;
  color: #FFFFFF;
  display: block;
  font-size: 15px;
  height: 50px;
  margin-left: 0;
  padding: 15px;
  position: absolute;
  left: 0;
  text-decoration: none;
  text-transform: uppercase;
  top: 0;
  transition: left 0.3s ease-in-out 0s;
  z-index: 12;
  transition: left 0.3s ease-in-out 0s;
  -webkit-transition: left 0.3s ease-in-out 0s;
  -moz-transition: left 0.3s ease-in-out 0s;
  -o-transition: left 0.3s ease-in-out 0s;
}

.ar a.nav-expander{
	right: 0;
	left:inherit;
  transition: right 0.3s ease-in-out 0s;
  transition: right 0.3s ease-in-out 0s;
  -webkit-transition: right 0.3s ease-in-out 0s;
  -moz-transition: right 0.3s ease-in-out 0s;
  -o-transition: right 0.3s ease-in-out 0s;
}

a.nav-expander:hover {
  cursor: pointer;
}

a.nav-expander.fixed {
  position: fixed;
}

.nav-expanded a.nav-expander.fixed {
  left: 20em;
}

.ar.nav-expanded a.nav-expander.fixed {
  right: 20em;
	left:inherit;
}

nav {
  background: #2d2f33;
  display: block;
  height: 100%;
  overflow: auto;
  position: fixed;
  left: -20em;
  font-size: 15px;
  top: 0;
  width: 20em;
  z-index: 2000;
  transition: left 0.3s ease-in-out 0s;
  -webkit-transition: left 0.3s ease-in-out 0s;
  -moz-transition: left 0.3s ease-in-out 0s;
  -o-transition: left 0.3s ease-in-out 0s;
}

.ar nav {
  transition: right 0.3s ease-in-out 0s;
  -webkit-transition: right 0.3s ease-in-out 0s;
  -moz-transition: right 0.3s ease-in-out 0s;
  -o-transition: right 0.3s ease-in-out 0s;
	right:-20em;
}

.nav-expanded nav {
  left: 0;
}

.ar.nav-expanded nav {
  right:0!important;
	left:inherit;
}

body.nav-expanded {
	transition: left 0.4s ease-in-out 0s;
  -webkit-transition: left 0.4s ease-in-out 0s;
  -moz-transition: left 0.4s ease-in-out 0s;
  -o-transition: left 0.4s ease-in-out 0s;
  overflow:hidden;
}

.nav-menu-close{
  padding:12px;
}

.main-menu li {
  border-bottom: 1px solid #323949;
  margin-right: 20px;
}

.ar .main-menu li {
	margin-right: 0;
  margin-left: 20px;
}

.main-menu li a {
  color: #6F7D8C;
  text-decoration: none;
  display:block;
  padding: 12px;
	cursor: pointer;
}

.main-menu li a:hover {
  color: #FFFFFF;
  text-decoration: none;
}

.main-menu li .sub-nav {
  border-bottom: 0px;
  padding: 4px;
}

.main-menu li > a > span.menu-more-icon, .main-menu li > a > span.menu-toggle-icon {
  float: right;
  margin: 0.1em 1.7em -0.1em 0;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;

}

.ar .main-menu li > a > span.menu-more-icon, .ar .main-menu li > a > span.menu-toggle-icon  {
  float: left;
  }

.main-menu li > a:hover > span.menu-more-icon, .main-menu li > a:hover > span.menu-toggle-icon {
  float: right;
  margin: 0 0.8em -0.1em 0;
  opacity: 1;
}

.ar .main-menu li > a:hover > span.menu-more-icon,.ar .main-menu li > a:hover > span.menu-toggle-icon {
  float: left;
  margin: 0 0 -0.1em 0.8em;
  opacity: 1;
}

.main-menu .user-name{
	color: #fff;
	padding: 12px;
}

.list-unstyled {
  padding: 0;
  list-style: none;
	text-align:left;
}

.ar .list-unstyled {
	text-align:right;
}

.navbar-brand {
  float: left;
  padding: 15px 4em;
}

.ar .navbar-brand {
  float: right;
}

.ar .pull-left{
	float:right!important;
	}
.ar .text-right {
  text-align: left;
}

.navbar-inverse {
  background-color: #283593;
  border-color: #222d7f;
}

.navbar-inverse .navbar-brand {
  color: #ffffff;
}

.main-container{
	margin-top:60px;
	margin-bottom:45px;
}

.widget-wrapper{
  background: #fff;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  border-radius: 3px;
	padding:15px 0;
	margin-bottom:15px;
}
.inner-wrapper{
	padding: 0 $padding-small;
}

.nav-menu-close:after {
  font-family: 'FontAwesome';
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  text-transform: none;
  content: "\f00d";
}

.menu-more-icon:before {
  font-family: 'FontAwesome';
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  text-transform: none;
  content: '\f105';
}

.ar .menu-more-icon:before {
  font-family: 'FontAwesome';
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  text-transform: none;
  content: '\f104';
}

.menu-toggle-icon:before {
  font-family: 'FontAwesome';
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  text-transform: none;
  content: '\f107';
}

.open .menu-toggle-icon:before {
  font-family: 'FontAwesome';
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  text-transform: none;
  content: '\f106';
}

.menu-icon:before {
	font-family: 'FontAwesome';
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  text-transform: none;
  content: "\f0c9";
}

footer{
	position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
	background: #fff;
  padding: 15px;
  color: #444;
  border-top: 1px solid #d2d6de;
	font-size:10px;
	}

.menu-settings{
	width:100%;
	position: absolute;
	bottom: 0;
	color:#fff;
  font-size: 10px;
	background-color: #212225;
  border-top: 1px solid #37393e;
}

.menu-settings button{
		color: #fff;
		background: none;
    border-radius: 17px;
    text-decoration: none;
    border: 2px solid #4e7b9a;
    padding: 5px 12px;
}
.menu-settings button:hover {
    background: #4e7b9a;
    color: #e0e1e0;
    transition: all .3s;
    border: 2px solid #4e7b9a;
}

.menu-user-info{
	background-color: #212225;
  border-bottom: 1px solid #37393e;
	color: #fff;
}

.menu-user-info a{
	color: #6F7D8C;
	cursor:pointer;
}

.menu-user-info a:hover{
	color: #FFFFFF;
  text-decoration: none;
}

.menu-user-info .user{
	font-size: 12px;
}

.menu-user-info .user-name{
	color: #FFFFFF;
  text-decoration: none;
}

.menu-user-info .profile-pic{
	  margin-top:-5px;
}

.menu-user-info .profile-pic img{
	  height: 90px;
    width: 90px;
    border: 3px solid;
    border-color: transparent;
    border-color: rgba(255,255,255,0.2);
}

button{
	outline: none;
}
// Sidebar Menu end

//Scrollbar start
::-webkit-scrollbar {
    width: 8px;
}

::-moz-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-moz-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
}

::-moz-scrollbar-thumb {
    border-radius: 10px;
}
//Scrollbar end


.test-wrapper .widget-wrapper {
	height:250px;
}



//Order book style start//

.order_book .price_order,.order_book .buy_sell_box, .order_book_table_widget{
	margin:10px;
}
.order_book .buy_sell_box{
	padding: 5px 0;
}
.order_book .price_order div{
	background-color:#efefef;
	padding: 10px;
	color: #c2c2c2;
	letter-spacing: 1px;
}

.order_book .ob_active{
	background-color: #20A8D9 !important;
	color: white !important;
	-webkit-transition: all .8s ease;
	-moz-transition: all .8s ease;
	-o-transition: all .8s ease;
	transition: all .8s ease;
}

.order_book .buy_sell_box {
	background: #f1f1f1;
	border: 1px solid #d9d9d9;
}
.order_book .buy_sell_box span{
	display: inline-block;
	width: 100%;
	padding: 5px 0;
}
.order_book .buy_sell_box div:nth-of-type(1){
	color: #f86c6b;
	margin-top: 15px;
}
.order_book .buy_sell_box div:nth-of-type(2){
	text-align: center;
	color: #767070;
}
.order_book .buy_sell_box div:nth-of-type(3){
	margin-top: 15px;
	color:#4dbd73;
}
.order_book .buy_sell_box i{
	color: #f86c6b;
}
.order_book .order_book_table{
	float: left;
	width: 50%;
}

.order_book .order_book_table table thead tr th{
	text-align: left;
}
.order_book .chart-with-hight{
	height: 75px;
}
@media (max-width: 480px){

.order_book_table_full{
	overflow: overlay;
}
	.order_book_table_widget{
		width: 370px;
	}
}



.ar .order_book .price_order div{
float: right;
}

.ar .order_book_table table thead tr th, .ar .order_book_table table thead tr th div {
	text-align: right;
}

//Order book style end//


/*
---
------
--------- Time and Sales
*/

.time-and-sales .t-n-s-box-common {
	text-align: center;
	padding: 10px;
	font-size: 15px;
	color: #fff;
	height: 80px;
	float: left;
	text-align: center;
}

.time-and-sales .t-n-s-box-common div:nth-child(1) {
	float: left;
	display: inline-block;
	text-align: left;
}

.time-and-sales .t-n-s-box-common div:nth-child(2) {
	float: left;
	display: inline-block;
	font-size: 35px;
	text-align: right;
}

.time-and-sales .box{
	margin: 10px 0;
}

.time-and-sales .t-n-s-box-1{
	background-color: #20a8d8; //#f8cb00;
}

.time-and-sales .t-n-s-box-2{
	background-color: #4dbd73;
}

.time-and-sales .t-n-s-box-3{
	background-color: #f86c6b ;
}

.time-and-sales .t-n-s-box-4{
	background-color: #20a8d8;
}

.time-and-sales .table thead tr th{
	text-align: left;
}

.time-and-sales .fa-long-arrow-down:before {
	margin-left: 8px;
	font-size: 15px;
	color: #f86c6b;
}

.time-and-sales .fa-long-arrow-up:before {
	margin-left: 8px;
	font-size: 15px;
	color: #4dbd73;
}

.time-and-sales .timeAndSalesEqual:before{
	content: '=';
	margin-left: 8px;
	font-size: 16px;
	color: #20a8d8;
	font-weight: bold;
}

.time-and-sales .sell_Red{
	color: #f86c6b;
	font-weight: 400;
}

.time-and-sales .buy_Green{
	color: #4dbd73;
	font-weight: 400;
}

//tabs
@media (min-width: 768px) and (max-width: 991px) {

}

//mobiles
@media (max-width: 580px) {
	.time-and-sales .t-n-s-box-common div:nth-child(1) {
		text-align: center;
		padding: 7px 0;
	}

	.time-and-sales .t-n-s-box-common div:nth-child(2) {
		font-size: 15px;
		text-align: center;
	}

	.t-n-s-main-table-wrapper{
		overflow: overlay;
	}

	.t-n-s-table{
		width: 620px;
		text-align: center;
	}

	.time-and-sales .table thead tr th {
		text-align: center;
	}
}


/*arabic style*/

.ar .time-and-sales .table thead tr th{
	text-align: right;
}

.ar .time-and-sales .t-n-s-box-common div:nth-child(2) {
	float: right;
	text-align: left;
}

.ar .time-and-sales .t-n-s-box-common div:nth-child(1) {
	float: right;
	text-align: right;
}

.ar .time-and-sales .t-n-s-box-common {
	float: right;
}

.ar .time-and-sales .timeAndSalesEqual:before, .ar .time-and-sales .fa-long-arrow-up:before, .ar .time-and-sales .fa-long-arrow-down:before{
	margin-right: 8px;
}



/*
---
------
--------- Time and Sales end
*/


//Detail quote V2 start
.general-quote .arrow, .general-quote .price, .general-quote .currency,  .general-quote .change-container, .general-quote .change, .general-quote .change-percentage{
	display: inline-block;
	}
.general-quote .arrow{
		margin-top:4px;
	}
.general-quote.up .arrow:before {
    content: "\f062";
	font-family:'FontAwesome';
    font-style: normal;
}
.general-quote.down .arrow:before {
    content: "\f063";
	font-family:'FontAwesome';
    font-style: normal;
}
.general-quote .short-name{
	font-size: $snap-font-size-4;
  color: #212121;
	}
.general-quote .long-name{
	font-size: 12px;
	color:#757575;
	}
.general-quote .price{
	font-size:2.5rem;
	color:#868686;
	}
.general-quote .currency{
	font-size:1rem;
	color:#9e9e9e;
	}
.general-quote .change-container{
	margin:0;
	}
.general-quote .change{
	margin:0 10px;
	font-size: 2rem;
	}
.general-quote .change-percentage{
	margin:0;
	font-size: 2rem;
	}
.general-quote.up .change, .general-quote.up .change-percentage, .general-quote.up .arrow{
	color: #4caf50;
	}
.general-quote.down .change, .general-quote.down .change-percentage, .general-quote.down .arrow{
	color: #d32f2f;
	}
.general-quote.no-change .arrow{
	display: none;
	}
.general-quote.no-change .change, .general-quote.no-change .change-percentage{
	color: #648afd;
	}
.general-quote .update-info{
	color: #9e9e9e;
	font-size: 9px;
	margin-top: 3px;
	}
	//Detail quote V2 end




/*-- C3 Chart custom css start --*/
.c3-axis-x, .c3-axis-y {
	fill:none;
	stroke:#648afd;
}

.c3-area {
	fill: #b3d1ff  !important;
	opacity: 5 !important;
}

.c3-line {
	fill: none !important;
}

/*-- C3 Chart custom css end --*/

/*-- Title styles start --*/

.page-title{
	margin-top:0;
}
.widget-title{
	border-bottom: solid 1px;
	margin-top:0;
	display: inline-block;
	width: 100%;
	font-size: 1.38em;
}
.widget-title .title{
	float: $float-1;
	margin-bottom: $padding-small;
}
.ar .widget-title .title{
	float: $float-2;
}
.widget-title .extra-controllers{
	float: $float-2;
	margin-bottom: $padding-small;
}
.ar .widget-title .extra-controllers{
	float: $float-1;
}
/*-- Title styles end --*/


/*--Table styles start--*/
.data-table{
	font-size: 0.9em;
}
.data-table th{
	padding: $padding-medium $padding-small;
}
.data-table td{
	padding: $padding-medium $padding-small;
}
.data-table.btn-tbl td{
	padding: $padding-small;
}
.data-table .btn-container{
	text-align: $text-align-2;
}
.data-table .more-btn{
	text-align: $text-align-2;
	padding: $padding-small $padding-medium;
	border-radius: 0;
	border: none;
	font-size: 11px;
}

/*--Table styles end--*/

.strategies-duration .button{
	width: 35px;
	text-align: $text-align-2;
	font-size: 11px;
	padding: 5px 0;
	margin: 0 0 0 5px;
	float: $float-2;
}

.ar .strategies-duration .button{
	margin: 0 5px 0 0;
	float: $float-1;
}

.strategies-table .dot {
	width: 10px;
	height: 10px;
	border-radius: 50%;
	margin: 2px 5px 0 0;
}
.ar .strategies-table .dot {
	margin: 2px 0 0 5px;
}

.content-display-box-wrapper li{
	padding: $padding-small 0;
	display: inline-block;
	width: 100%;
	position: relative;
}
.content-display-box-wrapper li .detail-col .content{
	position: absolute;
	margin: 0 $margin-small;
}
.content-display-box-wrapper img{
	padding: 1px;
	width:66px;
	height:66px;
}
.content-display-box-wrapper p{
	margin-bottom: 0;
}
.content-display-box-wrapper .strat-1 .image{
	background: url("../assets/images/strat-1.svg") no-repeat center;
}
.content-display-box-wrapper .strat-2 .image{
	background: url("../assets/images/strat-2.svg") no-repeat center;
}
.content-display-box-wrapper .strat-3 .image{
	background: url("../assets/images/strat-3.svg") no-repeat center;
}


/*Overide padding & margin from bootstrap start */

.gap-overide .iframe-container >{
	.col-xs-12{
		padding: 8px;
	}
	.col-sm-6{
		padding: 8px;
	}
}

.gap-overide{
	padding: 0 8px;
}
.iframe-container{
	// padding-top: 8px;
	padding-top: 60px;
	margin: 0 -4px;
}

/*Overide padding & margin from bootstrap end */
