@import 'common-variables';
@import 'widget-variables';

body {
  line-height: $line-height-normal;
}

body.ar {
  direction: rtl;
}

.h-sep-line {
  width: 100%;
  height: 1px;
}

.v-sep {
  border-right: 1px solid;
}

.v-sep:last-child {
  border-right: 0px;
}

.ar .v-sep {
  border-right: 0px solid;
  border-left: 1px solid;
}

.ar .v-sep:last-child {
  border-right: 0px;
  border-left: 0px !important;
}

.snap-current-price-wrapper {
  padding-left: 5px;
}

.snap-current-price {
  font-size: $snap-font-size-5;
  margin-bottom: 15px;
}

.snap-current-price-currency {
  font-size: $snap-font-size-2;
}

.snap-change {
  margin-right: 5px;
  font-size: $snap-font-size-3;
}

.ar .snap-change {
  margin-left: 5px;
  font-size: $snap-font-size-3;
}

.snap-percentange {
  font-size: $snap-font-size-5;
}

.snap-date {
  font-size: 11px;
  margin-bottom: 5px;
}

.snap-note {
  font-size: 11px;
}

.snap-val-1 {
  font-size: $snap-font-size-2;
}

.snap-val-2 {
  font-size: $snap-font-size-2;
}

.snap-lbl-1 {
  font-size: $snap-font-size-1;
}

.snap-lbl-2 {
  font-size: $snap-font-size-2;
}

.up-down-slider-row-1 {
  width: 100%;
  height: 5px;
  margin-bottom: 4px;
}

.up-down-slider-row-2 {
  width: 40%;
  height: 5px;
  border-right: 2px solid;
}

.ar .up-down-slider-row-2 {
  float: right;
  border-left: 2px solid;
  border-right: 0;
}

/*
---
------
--------- Login Page Styles
*/

.login .active {
  border-bottom: 3px solid #d6d6d6;
}

.login .inner-bg {
  padding: 100px 0 170px 0;
  background-image: url("../assets/images/2.jpg");
  height: 100vh;
}

.login .mubasher-logo {
  margin: 0 auto;
  width: 45%;
}

.login .slogan {
  font-size: $login-slogan-1-font-large-desktop;
  text-align: $text-align-2;
  letter-spacing: 12px;
  margin-left: 30px;
  background: $login-slogan-color;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.login .slogan span {
  display: inline-block;
  font-size: $login-slogan-2-font-large-desktop;
  background: $login-slogan-color;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.login .top-content .text {
  color: #fff;
}

.login .live-tab{
  background: $login-tab-live-bg-color;
}

.login .demo-tab{
  background: $login-tab-demo-bg-color;
}

.login .live-tab, .login .demo-tab {
  width: 50%;
  height: 60px;
  line-height: 60px;
  text-align: $text-align-2;
  float: $float-1;
  color: #fff;
  font-size: 16px;
}

.login .top-content .text h1 {
  color: #fff;
}

.login .top-content .description p {
  opacity: 0.8;
}

.login .top-content .description a {
  color: #fff;
}

.login .top-content .description a:hover,
.login .top-content .description a:focus {
  border-bottom: 1px dotted #fff;
}

.login .form-box {
  margin-top: 35px;
}

.login .form-top {
  overflow: hidden;
  padding: 0;
  text-align: $text-align-1;
  position: relative;
}

.login .form-top img {
  width: 100%;
}

.login .form-top-left h3 {
  margin-top: 0;
}

.login .forget-pw a {
  background: transparent;
  border: none;
  width: 50%;
  float: $float-1;
  text-align: $text-align-2;
  box-shadow: none;
	padding-top: $padding-medium;
	color: #fff;
}

.login .rememberme{
	width: 50%;
	float: $float-1;
	height: 34px;
	padding: 6px 12px;
}

.login .rememberme p{
height: 30px;
line-height: 30px;
margin: 0;
font-size: 15px;
color: #fff;
float: left;
}

.login .forget-pw {
  height: 34px;
  line-height: 34px;
  text-decoration: underline;
}

.login .form-bottom {
  padding: 25px 25px 30px 25px;
  background: $login-box-bg-color;
  text-align: $text-align-1;
}

.login .form-bottom form textarea {
  height: 100px;
}

.login .form-bottom form button.btn {
  width: 100%;
}

.login input[type="text"],
.login input[type="password"],
.login textarea,
.login textarea.form-control {
  height: 50px;
  margin: 0;
  padding: 0 20px;
  vertical-align: middle;
  background: #f8f8f8;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 50px;
  color: $login-input-text-color;
  -o-transition: all .3s;
  -moz-transition: all .3s;
  -webkit-transition: all .3s;
  -ms-transition: all .3s;
  transition: all .3s;
	border-radius: 0;
}

.login textarea,
.login textarea.form-control {
  padding-top: $padding-medium;
  padding-bottom: $padding-medium;
  line-height: 30px;
}

.login button.btn {
  height: 50px;
  margin: 0;
  padding: 0 20px;
  vertical-align: middle;
  background: $login-btn-bg-color;
  border: 0;
  font-family: 'Roboto', sans-serif;
  font-size: $login-btn-font-size;
  font-weight: 300;
  line-height: 50px;
  color: #fff;
  text-shadow: none;
  -o-transition: all .3s;
  -moz-transition: all .3s;
  -webkit-transition: all .3s;
  -ms-transition: all .3s;
  transition: all .3s;
	border-radius: 0;
}

.login button.btn:hover {
  opacity: 0.6;
  color: #fff;
}

.login button.btn:active {
  outline: 0;
  opacity: 0.6;
  color: #fff;
}

.login button.btn:focus {
  outline: 0;
  opacity: 0.6;
  background: #34abdc;
  color: #fff;
}

.login button.btn:active:focus, .login button.btn.active:focus {
  outline: 0;
  opacity: 0.6;
  background: #34abdc;
  color: #fff;
}

ul,
li {
	list-style: none;
	margin: 0;
	padding: 0;
}

.tg-list {
	text-align: center;
	display: flex;
	align-items: center;
	width: auto;
	float: left;
}

.tg-list-item {
	margin: 0 2em;
}

.tgl {
	display: none;

	// add default box-sizing for this scope
	&,
	&:after,
	&:before,
	& *,
	& *:after,
	& *:before,
	& + .tgl-btn {
		box-sizing: border-box;
		&::selection {
			background: none;
		}
	}

	+ .tgl-btn {
		outline: 0;
		display: block;
		width: 4em;
		height: 2em;
		position: relative;
		cursor: pointer;
		user-select: none;
		&:after,
		&:before {
			position: relative;
			display: block;
			content: "";
			width: 50%;
			height: 100%;
		}

		&:after {
			left: 0;
		}

		&:before {
			display: none;
		}
	}

	&:checked + .tgl-btn:after {
		left: 50%;
	}
}

// themes

.tgl-flat {
	+ .tgl-btn {
		padding: 2px;
		transition: all .4s ease;
		background: #fff;
		border: 4px solid #f2f2f2;
		border-radius: 2em;
		&:after {
			transition: all .4s ease;
			background: #f2f2f2;
			content: "";
			border-radius: 1em;
		}
	}

	&:checked + .tgl-btn {
		border: 4px solid #7FC6A6;
		&:after {
			left: 50%;
			background: #7FC6A6;
		}
	}
}

/***** Media queries *****/

//large-monitors
@media (min-width: 992px) and (max-width: 1992px){

}

//small monitors
@media (min-width: 992px) and (max-width: 1366px) {
	.login .mubasher-logo {
		width: 30%;
	}
	.login .slogan {
		font-size: 20px;
	}

	.login .slogan span {
		font-size: 15px;
	}
	.login .inner-bg{
		padding: 30px 0 0;
	}
}

//tabs
@media (min-width: 768px) and (max-width: 991px) {

}

//mobiles
@media (max-width: 767px) {

	.login .inner-bg {
		padding: 60px 0 110px 0;
	}

	.login h1, .login h2 {
		font-size: 32px;
	}

	.login .mubasher-logo {
		width: 65%;
	}

	.login .slogan {
		font-size: 20px;
		letter-spacing: 8px;
		margin-left: 20px;
	}

	.login .slogan span {
		font-size: 15px;
	}

	.login .inner-bg {
		padding-top: 30px;
	}

	.login input[type="text"], .login input[type="password"], .login textarea, .login textarea.form-control {
		height: 35px;
		padding: 0 10px;
		border: 1px solid #ddd;
		font-size: 13px;
	}

	.login button.btn {
		height: 35px;
		padding: 0 10px;
		font-size: 15px;
		line-height: 35px;
	}

	.login .live-tab, .login .demo-tab {
		height: 50px;
		line-height: 50px;
		font-size: 16px;
	}

	.login .forget-pw a {
		width: 100%;
	}

	.login .rememberme {
		width: 100%;
		padding: 0;
	}
}

/*
	---
	------
	--------- Login CSS End
*/


// Sidebar Menu start
a.nav-expander {
  background: none repeat scroll 0 0 #367fa9;
  color: #FFFFFF;
  display: block;
  font-size: 15px;
  height: 50px;
  margin-left: 0;
  padding: 15px;
  position: absolute;
  left: 0;
  text-decoration: none;
  text-transform: uppercase;
  top: 0;
  transition: left 0.3s ease-in-out 0s;
  z-index: 12;
  transition: left 0.3s ease-in-out 0s;
  -webkit-transition: left 0.3s ease-in-out 0s;
  -moz-transition: left 0.3s ease-in-out 0s;
  -o-transition: left 0.3s ease-in-out 0s;
}

.ar a.nav-expander{
	right: 0;
	left:inherit;
  transition: right 0.3s ease-in-out 0s;
  transition: right 0.3s ease-in-out 0s;
  -webkit-transition: right 0.3s ease-in-out 0s;
  -moz-transition: right 0.3s ease-in-out 0s;
  -o-transition: right 0.3s ease-in-out 0s;
}

a.nav-expander:hover {
  cursor: pointer;
}

a.nav-expander.fixed {
  position: fixed;
}

.nav-expanded a.nav-expander.fixed {
  left: 20em;
}

.ar.nav-expanded a.nav-expander.fixed {
  right: 20em;
	left:inherit;
}

nav {
  background: #2d2f33;
  display: block;
  height: 100%;
  overflow: auto;
  position: fixed;
  left: -20em;
  font-size: 15px;
  top: 0;
  width: 20em;
  z-index: 2000;
  transition: left 0.3s ease-in-out 0s;
  -webkit-transition: left 0.3s ease-in-out 0s;
  -moz-transition: left 0.3s ease-in-out 0s;
  -o-transition: left 0.3s ease-in-out 0s;
}

.ar nav {
  transition: right 0.3s ease-in-out 0s;
  -webkit-transition: right 0.3s ease-in-out 0s;
  -moz-transition: right 0.3s ease-in-out 0s;
  -o-transition: right 0.3s ease-in-out 0s;
	right:-20em;
}

.nav-expanded nav {
  left: 0;
}

.ar.nav-expanded nav {
  right:0!important;
	left:inherit;
}

body.nav-expanded {
	transition: left 0.4s ease-in-out 0s;
  -webkit-transition: left 0.4s ease-in-out 0s;
  -moz-transition: left 0.4s ease-in-out 0s;
  -o-transition: left 0.4s ease-in-out 0s;
  overflow:hidden;
}

.nav-menu-close{
  padding:12px 0!important;
}

.main-menu li {
  border-bottom: 1px solid #323949;
  margin-right: 20px;
}

.ar .main-menu li {
	margin-right: 0;
  margin-left: 20px;
}

.main-menu li a {
  color: #6F7D8C;
  text-decoration: none;
  display:block;
  padding: 12px;
	cursor: pointer;
}

.main-menu li a:hover {
  color: #FFFFFF;
  text-decoration: none;
}

.main-menu li .sub-nav {
  border-bottom: 0px;
  padding: 4px;
}

.main-menu li > a > span.menu-more-icon, .main-menu li > a > span.menu-toggle-icon {
  float: right;
  margin: 0.1em 1.7em -0.1em 0;
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;

}

.ar .main-menu li > a > span.menu-more-icon, .ar .main-menu li > a > span.menu-toggle-icon  {
  float: left;
  }

.main-menu li > a:hover > span.menu-more-icon, .main-menu li > a:hover > span.menu-toggle-icon {
  float: right;
  margin: 0 0.8em -0.1em 0;
  opacity: 1;
}

.ar .main-menu li > a:hover > span.menu-more-icon,.ar .main-menu li > a:hover > span.menu-toggle-icon {
  float: left;
  margin: 0 0 -0.1em 0.8em;
  opacity: 1;
}

.list-unstyled {
  padding: 0;
  list-style: none;
	text-align:left;
}

.ar .list-unstyled {
	text-align:right;
}

.navbar-brand {
  float: left;
  padding: 15px 4em;
}

.ar .navbar-brand {
  float: right;
}

.ar .pull-left{
	float:right!important;
	}
.ar .text-right {
  text-align: left;
}

.navbar-inverse {
  background-color: #3c8dbc;
  border-color: #3c8dbc;
}

.navbar-inverse .navbar-brand {
  color: #ffffff;
}

.main-container{
	margin-top:60px;
	margin-bottom:45px;
	}

.widget-wrapper{
  background: #fff;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
  border-radius: 3px;
	padding:10px;
	margin-bottom:15px;
}

.nav-menu-close:after {
  font-family: 'FontAwesome';
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  text-transform: none;
  content: "\f00d";
}

.menu-more-icon:before {
  font-family: 'FontAwesome';
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  text-transform: none;
  content: '\f105';
}

.ar .menu-more-icon:before {
  font-family: 'FontAwesome';
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  text-transform: none;
  content: '\f104';
}

.menu-toggle-icon:before {
  font-family: 'FontAwesome';
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  text-transform: none;
  content: '\f107';
}

.open .menu-toggle-icon:before {
  font-family: 'FontAwesome';
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  text-transform: none;
  content: '\f106';
}

.menu-icon:before {
	font-family: 'FontAwesome';
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  text-transform: none;
  content: "\f0c9";
}

footer{
	position: absolute;
  bottom: 0;
  width: 100%;
  height: 45px;
	background: #fff;
  padding: 15px;
  color: #444;
  border-top: 1px solid #d2d6de;
	font-size:10px;
	}

// Sidebar Menu end

//Scrollbar start
::-webkit-scrollbar {
    width: 8px;
}

::-moz-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    border-radius: 10px;
}

::-moz-scrollbar-track {
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
}

::-moz-scrollbar-thumb {
    border-radius: 10px;
}
//Scrollbar end
