$snap-font-size-1:1.1rem;
$snap-font-size-2:1.8rem;
$snap-font-size-3:2rem;
$snap-font-size-4:2.5rem;
$snap-font-size-5:3rem;

$line-height-normal:normal;
$line-height-1:1em;
$line-height-2:1.2em;
$line-height-3:1.3em;


$login-slogan-color:-webkit-linear-gradient(#f1f1f2, #25a9df);
$login-slogan-1-font-large-desktop:30px;
$login-slogan-2-font-large-desktop:25px;
$login-tab-live-bg-color:rgb(52, 171, 220);
$login-tab-demo-bg-color:rgb(52, 220, 159);
$login-btn-bg-color : #254e76;;
//$login-btn-bg-color : linear-gradient(to right, #4568DC, #00d2ff);
$login-box-bg-color:rgba(248, 248, 248, 0.21);
$login-input-text-color:#888;
$login-lang-btn-border-color:#4e7b9a;
$login-tgl-btn-active-color:#fff;
$login-tgl-btn-desabl-color:#bfbfbf;
$login-btn-bg-color: #34abdc;
$login-input-fields-bg-color:#f8f8f8

