<div class="row main-container iframe-container">
	<div class="col-xs-12">
		<h1 class="page-title">
			<div class="title" style="padding-right: 10px;font-weight: 700;" (click)="BackToParent()"><</div>
			<div class="title">MUBASHER REGIONAL GROWTH STRATEGY</div>
			<div class="right">
				<button class="common-button button-green">BUY</button>

				<button class="common-button button-blue"><i class="fa fa-phone margin-small-right"></i>I need to ask, Call me</button>
			</div>
		</h1>
	</div>
	<div class="col-xs-12 col-sm-6">
		<div class="widget-wrapper">
			<div class="inner-wrapper container-fluid">
				<h2 class="widget-title">
					<div class="title">Key Information</div>
				</h2>

				<div class="row info-perfor-details">

					<div class="col-md-4 col-sm-4 col-xs-6">
						<span class="snap-lbl-1">Base Currency</span>
						<span class="snap-val-1  margin-medium-bottom">US Dollar</span>


					</div>
					<div class="col-md-4 col-sm-4 col-xs-6">
						<span class="snap-lbl-1">Base Currency</span>
						<span class="snap-val-1  margin-medium-bottom">US Dollar</span>



					</div>
					<div class="col-md-4 col-sm-4 col-xs-6">
						<span class="snap-lbl-1 ">Base Currency</span>
						<span class="snap-val-1  margin-medium-bottom">US Dollar</span>



					</div>
					<div class="col-md-4 col-sm-4 col-xs-6">
						<span class="snap-lbl-1">Base Currency</span>
						<span class="snap-val-1  margin-medium-bottom">US Dollar</span>



					</div>
					<div class="col-md-4 col-sm-4 col-xs-6">
						<span class="snap-lbl-1">Base Currency</span>
						<span class="snap-val-1  margin-medium-bottom">US Dollar</span>



					</div>
					<div class="col-md-4 col-sm-4 col-xs-6">
						<span class="snap-lbl-1">Base Currency</span>
						<span class="snap-val-1  margin-medium-bottom">US Dollar</span>



					</div>

				</div>



			</div>
		</div>

			<div class="col-md-6">
				<div class="widget-wrapper">
					<div class="inner-wrapper container-fluid">
						<h2 class="widget-title">
							<div class="title">Assets Allocation</div>
						</h2>

					</div>

				</div>
			</div>
			<div class="col-md-6">

				<div class="widget-wrapper">
					<div class="inner-wrapper container-fluid">
						<h2 class="widget-title">
							<div class="title">Performance</div>
						</h2>
						<table width="100%" class="data-table strategies-table margin-small-bottom table">
							<tr>
								<th scope="col">&nbsp;</th>
								<th scope="col">&nbsp;</th>
							</tr>
							<tr>
								<td>Return</td>
								<td>8.52</td>
							</tr>
							<tr>
								<td>Std Dev</td>
								<td>9.34</td>
							</tr>
							<tr>
								<td>Excess Return</td>
								<td>3.99</td>
							</tr>
							<tr>
								<td>Information Ratio(arith)</td>
								<td>1.67</td>
							</tr>
							<tr>
								<td>Tracking Eror</td>
								<td>2.34</td>
							</tr>
							<tr>
								<td>Sharpe Ratio</td>
								<td>0.33</td>
							</tr>
						</table>
					</div>


				</div>
			</div>

		<div class="col-sm-6">
			<div class="widget-wrapper">
				<div class="inner-wrapper container-fluid">
					<h2 class="widget-title">
						<div class="title">Strategy Performance vs Benchmark(TASI.TDWL)</div>
					</h2>

				</div>
			</div>
		</div>

	</div>
	<div class="col-xs-12 col-sm-6">
		<div class="widget-wrapper">
			<div class="inner-wrapper container-fluid">
				<h2 class="widget-title">
					<div class="title">Fact Sheet </div>
				</h2>

				<div class="row info-perfor-details" style="height:515px">



				</div>



			</div>
		</div>
	</div>

</div>
